/* ----------------------- GENERAL ----------------------- */

*{
    margin: 0;
    padding: 0;

}

main{
    padding: 33px 220px;
}



/* ----------------------- MAIN ----------------------- */

.product-image-n1{
    width: 450px
}

.information-product-general{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-complete-web-description{
    display: flex;
    align-items: flex-start;
}

.product-name-title{
    padding: 8px 0 0 0;
}


.product-price{
    display: flex;
    padding: 22px 0;
}

.product-description{
    padding: 0 0 20px 0;
}

.product-select-color-web{
    padding: 15px 0;
}

.product-quant-web-color-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-quantity{
    width: 65px;
    text-align: center;
    border: none;
    position: relative;
    top: 15px;
}

.add-to-the-shop-cart{
    padding: 0 30px;
    position: relative;
    top: 40px;
    right: 80px;
}

.color-bottom-invisible{
    margin-right: 50px;
}

.categories-product-relationated{
    padding: 45px 0 0 0;
}

.tags-products-web{
    padding: 15px 0 0 0;
}


a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
    color: black;
}