* {
    box-sizing: border-box;

}

main {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;

}

.carrito {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.galery {
    margin-left: 1.5rem;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    aspect-ratio: 8 / 12;
    overflow-x: scroll;
}





















.carrito-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.contenedor-boton-cajita .cabecera-carrito,
.contenedor-boton-cajita .desplegable-ejemplo,
.contenedor-boton-cajita .pie-carrito {
    /* background: radial-gradient(circle, hsla(18, 100%, 52%, 1) 39%, hsla(329, 82%, 76%, 1) 92%, hsla(342, 95%, 78%, 1) 100%); */
    /* otro tipo de degradado para los botones */
    background: linear-gradient(90deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%);
    /* background: linear-gradient(90deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%); */
    /* background: linear-gradient(90deg, hsla(310, 60%, 88%, 1) 0%, hsla(27, 100%, 64%, 1) 50%, hsla(11, 100%, 52%, 1) 100%); */
}

.contenedor-boton-favoritos .cabecera-carrito,
.contenedor-boton-favoritos .desplegable-ejemplo,
.contenedor-boton-favoritos .pie-carrito {
    /* background: linear-gradient(90deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%); */
    /* background: linear-gradient(90deg, hsla(310, 60%, 88%, 1) 0%, hsla(27, 100%, 64%, 1) 50%, hsla(11, 100%, 52%, 1) 100%); */
    background: linear-gradient(90deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%);
}






.contenedor-boton-cajita {
    height: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 25px 25px 10px gray;
}

.contenedor-boton-favoritos {
    height: 50%;
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 25px 25px 10px gray;
}

.cabecera-carrito {
    display: flex;
    flex-direction: column;


    width: 100%;
    height: 5rem;
    border-radius: 100px 100px 0 0;

}



.botones-ordenador {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.labels-ordenador {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.botonera-ordenar {
    display: none;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.botones-orden {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.botones-ordenador .boton {
    background-color: inherit;
    font-size: 30px;
    border: 0;
    width: 40px;
    height: 40px;
    padding-bottom: 50px;
}


.desplegable-ejemplo {
    display: none;
                                /* DESPLEGABLE OCULTO */
    flex-wrap: nowrap;
    overflow-y: scroll;
    flex-direction: column;

    width: 100%;
    height: 80%;
    background: linear-gradient(315deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%);
    /* background: -moz-linear-gradient(90deg, hsla(310, 60%, 88%, 1) 0%, hsla(27, 100%, 64%, 1) 35%, hsla(11, 100%, 52%, 1) 100%); */
}

.pie-carrito {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 5rem;
    border-radius: 0 0 100px 100px;
}

.tira-pie-carrito {
    margin-left: 15px;
    background-color: #f1f1f1f1;
    display: none;
    width: 95%;
    justify-content: space-evenly;
}

.carrito-contenedor {
    font-size: 60px;
    display: flex;
    justify-content: center;

}




/* 
@keyframes degradado {
    0% {
        background-color: #FF540A;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: rgb(202, 151, 56);
    }

    100% {
        background-color: gold;
    }
} */




.card {
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: inherit;
    margin: 8px;
    align-items: center;
    align-content: center;
}

.card-checkbox-container {
    width: 15%;

}

.product-image {
    width: 25%;
    height: 90%;
    justify-self: center;
    align-self: center;

}

.product-image img {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.product-description {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}

.product-description h2 {
    font-size: 25px;
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

.without-stock {
    margin: auto;
    padding: 0.5;

}

.product-price {
    display: flex;
    padding: 0.5rem;
    margin: auto;

}


.card-checkbox {
    width: 100%;
    height: 100%;
    padding: 5px;

}

.delete-card-button {
    width: 10%;
    display: flex;
    border-radius: 8px;
}

.delete-card-button button {
    width: 100%;
    display: flex;
    border-radius: 8px;
}

.card-middle-divisor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

.card-middle-divisor input {
    width: 50%;
    height: 25px;
    align-self: center;
    justify-self: center;
}

.card-contador {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card-contador .contador-button {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-price {
    font-size: 30px;

}

.product-price-discount {
    width: 50%;

}

.product-price-discount h1 {
    color: green;
    font-size: 15px;

}

.delete-card-button {
    display: none;
    height: 15px;
    align-self: flex-start;
    position: absolute;
    right: 10px;
    top: 10px;
}

.delete-card-button button {
    height: 25px;
    margin: 5px;
    padding: 2px;
    background-color: rgb(39, 39, 39);
}











/* payement card */


.payement-card {
    width: 30vw;
    display: flex;
    flex-direction: column;
    display: flex;
    /* flex properties */

    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.total {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 50px;
    width: auto;
    height: 30%;
    /* background: linear-gradient(315deg, hsla(18, 100%, 52%, 1) 22%, rgb(255, 64, 64) 51%, rgb(255, 192, 211) 100%); */
    background: linear-gradient(135deg, hsla(310, 60%, 88%, 1) 0%, hsla(27, 100%, 64%, 1) 50%, hsla(11, 100%, 52%, 1) 100%);
    box-shadow: 25px 25px 10px gray;

}

.payement-button {
    display: flex;
    width: 60%;
    height: 50%;
    align-self: center;
    justify-content: center;

}

.payment-currency-input {
    width: 50px;

}

.payement-button button {
    width: 70%;
    height: 100%;
    border-radius: 15px;

}

.total-amount {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.subtotal {
    padding: 1rem;
    margin: 0.5rem;
    background-color: #ebebeb;
    border-radius: 8px;
    border: 3px solid;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: scroll;
}

.subtotal .subtotal-item-cards {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
}

.subtotal-item-cards span {
    display: flex;
    justify-content: flex-end;
    align-self: center;

}

.titulo-subtotal {
    display: flex;
    justify-content: center;
    padding: 0.5rem;

}

.seccion-carrito-corredor {
    display: flex;
    margin-top: 2.5rem;

}

.corredor {
    width: 70vw;
    height: auto;
    background-color: #ebebeb;
    margin: 1rem;
    padding: 0.5rem;

    /* flex-properties */
    display: flex;
    overflow: scroll;
    align-items: center;
}

.image-related {
    display: flex;
    width: auto;

    flex-wrap: nowrap;
    justify-content: space-around;
}

.image-related img {
    height: 200px;
    margin: 0.5rem;
}

.metodos-pago {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
    width: 30vw;

    background-color: black;

}

.middle-metodos-pago {
    padding: 10px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}


/* animacion simple */

.card:hover .delete-card-button {
    display: flex;

}

.card:hover {
    box-shadow: 10 10 10 100px black;
    transform: scale(0.95);
    background-color: #f1f1f1;

}

/* animacion simple */



/* media queeries para pc */
@media (min-width:1024px) {


    .contenedor-boton-cajita:hover,
    .contenedor-boton-favoritos:hover {
        height: 55rem;

    }

    .contenedor-boton-cajita:hover .desplegable-ejemplo {
        display: flex;

    }


    .contenedor-boton-cajita:hover .tira-pie-carrito {
        display: flex;

    }

    .contenedor-boton-cajita:hover .botonera-ordenar {
        display: flex;

    }

    .contenedor-boton-favoritos:hover .desplegable-ejemplo {
        display: flex;
    }

    .contenedor-boton-favoritos:hover .tira-pie-carrito {
        display: flex;

    }

    .contenedor-boton-favoritos:hover .botonera-ordenar {
        display: flex;

    }


}
/* MEDIA QUERIES PARA TABLET */

@media(max-width:1024px) {

    .desplegable-ejemplo {
        display: flex;

    }

}

/* MEDIA QUERIES PARA TELEFONO */
@media(max-width:688px) {

    .carrito {
        flex-direction: column;

    }

    .contenedor-boton-cajita {
        height: 40%;
        margin: 1rem;
    }

    .contenedor-boton-favoritos {
        height: 40%;
        margin: 1rem;
    }

    .card {
        border-radius: 25px;

    }

    .payement-card {
        width: 70%;
        align-self: center;
    }

}