
<head>

    <%- include("./partials/head") %>
    <link href="styles/admin.css" rel="stylesheet">

        
<body>
                
        <!-- Header -->
        <%- include("./partials/header")%>
        <!-- /Header -->

        <main>
            <div class="main">

                <div class="all-products-container">
                    <h2>
                        <a id="link-all-products" href="/todosLosProductos">
                            Todos los productos
                        </a>
                    </h2>
                </div>
    
                <div class="all-products-container">
                    <h2>
                        <a id="link-all-products" href="/todosLosProductos">
                            Todos los productos
                        </a>
                    </h2>
                </div>
                
            </div>
        </main>
        
        <!-- Footer -->
        <%- include("./partials/footer") %>
        <!-- /Footer -->
</body>
