
<head>

    <%- include("./partials/head") %>
    <link href="styles/admin.css" rel="stylesheet">
    <link href="/styles/reset.css" rel="stylesheet">
    <link href="/styles/header-footer.css" rel="stylesheet">
    <link href="/styles/home.css" rel="stylesheet">
        
<body>
                
        <!-- Header -->
        <%- include("./partials/header")%>
        <!-- /Header -->

        <main>
            <section class="cards">
                    <div class="card-add">
                        <h4>Crear Producto</h4>
                        <a href="/products/create">
                            <i id="add-icon" class="fa-solid fa-plus"></i>
                        </a> 
                    </div>
            </section>
        </main>
        
        <!-- Footer -->
        <%- include("./partials/footer") %>
        <!-- /Footer -->
</body>
