<%- include('./partials/head.ejs') %>
    <!-- ¡OJO! se estaba repitiendo el llamado de las hojas de estilo 'reset' y 'header-footer' que ya están en el partial head.ejs. PUEDEN PRESENTARSE CONFLICTOS (revisar) -->
    <link href="/styles/contactUs.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main class="main">

            <body>

                <section class="facebookIframe-container">
                    <!-- <iframe src="https://www.facebook.com/developper/soundboxsl" frameborder="0" width="500" height="500"></iframe> -->
                </section>
                
                <h3>Ubicacion en Argentina:</h3>
                <section class="maps-argentina-container">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2460.238887554154!2d-58.383910912540166!3d-34.603516541432064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1707331498447!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

                </section>
            
            </body>

        </main>

        <%- include('./partials/footer.ejs') %>