<%- include("./partials/head") %>
    <link href="styles/crearProducto.css" rel="stylesheet">


    <body>
        <%- include("./partials/header") %>
            <main>
                <section class="admin-container">
                    <h1> usted esta en cuenta de administrador! </h1>
                    <section class="contenedor-total">
                        <div class="separador-efecto">.</div>
                        <div class="formulario-admin">
                            <form action="#" method="POST">

                                <label for=""></label>
                                <input placeholder="Imagen" type="file" value="" name="imagen" class="imagen-form"> <br>
                                
                                <label for=""></label>
                                <input placeholder="Nombre" type="text" value="" name="nombre" class="nombre-form"> <br>
                                
                                <label for=""></label>
                                <input placeholder="Marca" type="text" value="" name="marca" class="marca-form"> <br>

                                <label for=""></label>
                                <input placeholder="Descripcion" type="text" value="" name="descripcion" class="descripcion-form"> <br>

                                <label for=""></label>
                                <input placeholder="Cantidad" type="number" value="" name="cantidad" min="1" max="1000" class="cantidad-form"> <br>

                                <label for=""></label>
                                <input placeholder="Precio" type="number" value="" name="precio" min="1" max="9999999" class="precio-form"> <br>

                                <label for=""></label>
                                <input placeholder="Descuento" type="number" value="" name="descuento" min="1" max="100" class="descuento-form"> <br>

                                <div class="crear-carta-borrar-carta">
                                    <label for=""></label>
                                    <input type="submit" value="Crear" class="enviar-form"> <br>

                                    <label for=""></label>
                                    <input type="reset" value="Eliminar" class="borrar-form">
                                </div>
                            </form>
                        </div>

                        <div class="creacion-carta">
                            <span class="centrar">id= #22</span>
                            <img src="../img/productos/guitarras/guitarra-2.jpg" alt="">
                            <div class="nombre-marca">
                                <p>nombre</p>
                                <p>marca</p>
                            </div>
                            <p class="centrar">descripcion</p>
                            <p class="centrar">cantidad</p>
                            <div class="precio-descuento">
                                <p>precio</p>
                                <p>descuento</p>
                            </div>
                        </div>
                    </section>
                </section>
                <%- include("./partials/footer") %>
            </main>
    </body>