<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    <%- include("./partials/head") %>
    <link href="styles/crearProductos.css" rel="stylesheet">

    <body>
<!-- =============================================================================================================== -->

        <!-- Header -->
        <%- include("./partials/header") %>

<!-- =============================================================================================================== -->

            <main>
                <section class="admin-container">

                    <h1 style="width: 100%; height: auto;"> usted esta en cuenta de administrador! </h1>

                    <div class="formulario-admin">
                        <form action="" method="POST">
                            <label style="color: white;" for=""></label>
                            <input placeholder=" nombre" type="text" value="" name="nombre">
                            <br>
                            <label style="color: white;" for=""></label>
                            <input placeholder=" cantidad" type="text" value="" name="nombre">
                            <br>
                            <label style="color: white;" for=""></label>
                            <input placeholder=" precio" type="text" value="" name="nombre">
                            <br>
                            <label style="color: white;" for=""></label>
                            <input placeholder=" descuento" type="text" value="" name="nombre">
                            <br>
                       </form>
                    </div>

                </section>
            </main>

<!-- =============================================================================================================== -->

            <!-- Footer -->
            <%- include("./partials/footer") %>
            
<!-- =============================================================================================================== -->

    </body>
</html>