<%- include("./partials/head") %>
<link href="/styles/reset.css" rel="stylesheet">
<link href="/styles/header-footer.css" rel="stylesheet">
<link href="styles/crearProductos.css" rel="stylesheet"> 


    <body>
        <%- include("./partials/header") %>
            <main>

                <body>
                    <section class="admin-container">
                        <h1 style="width: 100%; height: auto;"> usted esta en cuenta de administrador! </h1>
                        <div class="formulario-admin">
                            <form action="" method="POST">
                                <label style="color: white;" for=""></label>
                                <input placeholder="nombre" type="text" value="" name="nombre">
                                <br>
                                <label style="color: white;" for=""></label>
                                <input placeholder="cantidad" type="text" value="" name="cantidad">
                                <br>
                                <label style="color: white;" for=""></label>
                                <input placeholder="precio" type="text" value="" name="precio">
                                <br>
                                <label style="color: white;" for=""></label>
                                <input placeholder="descuento" type="text" value="" name="descuento">
                                <br>
                                <label style="color: white;" for=""></label>
                                <input placeholder="imagen" type="image" value="" name="imagen">
                            </form>
                        </div>

                    </section>

                </body>

                <%- include("./partials/footer") %>

            </main>
    </body>

