<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUÍA TIPOGRÁFICA SOUNDBOX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/fonts-sbx.css">
</head>
<body>

    <section class="container">
        <div class="logosbx">
            <img src="/images/svg/fondoNaranja1.svg" alt="SOUNDBOX®">
        </div>
        <div class="lema">
            <marquee>¡lleva la buena vibra!</marquee> 
        </div>
        <div class="text-description">
            <h1 class="text-white">Guía tipográfica del sitio web</h1>
            <p class="text-intro">Esta guía tipográfica nos facilitará elegir los encabezados/titulares para las diferentes secciones del sitio web <strong>SOUNDBOX</strong></p>
            <h1>H1: Bebas Neue Regular 400 en 48 px</h1>
            <p>Para <strong>títulos</strong> en banners y otras aplicaciones publicitarias del sitio web (Ej. el lema)</p>
            <h2>H2: Bebas Neue Regular 400 entre 28 - 36 px</h2>
            <p>Para <strong>títulos</strong> en banners y otras aplicaciones publicitarias del sitio web (Ej. el lema)</p>
            <h3>H3: Montserrat Bold 700 en 28 px</h3>
            <p>Para <strong>títulos</strong> en banners, aplicaciones publicitarias, noticias, blogs, etc. del sitio web (Ej. <strong>"SOUNDBOX llega a Argentina y Colombia"</strong>)</p>
            <h4>H4: Montserrat SemiBold 600 en 24 px</h4>
            <p>Para <strong>subtítulos y textos cortos</strong> en banners, aplicaciones publicitarias, noticias, blogs, etc. del sitio web (Ej. <strong>"SOUNDBOX sigue llevando buena vibra a los amantes de la música en Argentina y Colombia"</strong>)</p>
            <h5>H5: Montserrat Regular 400 en 21 px</h5>
            <p>Para <strong>subtítulos y cuerpos de texto cortos</strong> en las diferentes páginas, secciones , banners, aplicaciones publicitarias, noticias, blogs, etc. del sitio web (Ej. para resaltar detalles importantes de los productos musicales de este market place)</p>
            <h6>H6: Montserrat Regular 400 en 18 px</h6>
            <p>Para <strong>subtítulos y cuerpos de texto cortos</strong> en las diferentes páginas, secciones, banners, aplicaciones publicitarias, noticias, blogs, etc. del sitio web (Ej. para resaltar detalles importantes de los productos musicales de este market place)</p>
            <p class="text-bold">Montserrat Regular 400 entre 14 - 16 px</p>
            <p>Para <strong>cuerpos de texto y menús de navegación</strong> en las diferentes páginas, secciones, banners, aplicaciones publicitarias, noticias, blogs, etc. del sitio web (Ej. el menú principal, sub-menús, descripciones generales de productos, descripciones en cajita de compras, formularios, etc.)</p>
            <p class="note-title">Nota importante</p>
            <p class="note-text">Si bien en esta guía se plantean los lineamientos tipográficos en las etiquetas de los encabezados HTML, estos <strong>pueden aplicarse sobre cualquier selector específico</strong> que lo requiera (por ejemplo en clases que afecten articles, sections, divs, entre otros). Lo importante es tener una noción clara y coherente en la aplicación tipográfica del sitio web de lo macro a lo micro.</p>
        </div>
    </section>
    
</body>
</html>