<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/home.css" rel="stylesheet">
    <title>Sound Box</title>
</head>
<body>
    <header>
        <img id="logo" src="/img/SoundBox.png" alt="SoundBox">
        <div class="nav-bar">
            <ul>
                <li><a href="#">Instrumentos musicales</a></li>
                <li><a href="#">Amplificación</a></li>
                <li><a href="#">Efectos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Segunda mano</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Marcas</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <form>
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass" ></i>
            </form>
        </div>
        <div class="login-bar">
            <ul>
                <li ><a href="#">Crear cuenta</a><i class="fa-regular fa-id-card"></i>
                <li><a href="#">Ingresar</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mi Cajita</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
    </header>
    <hr class="separador">
    <main>
        <section class="category-links">
            <h2>Compra por categoría</h2>
            <div class="items-categorias">
                <article class="categoria">Guitarras</article>
                <article class="categoria">Guitarras</article>
                <article class="categoria">Guitarras</article>
                <article class="categoria">Guitarras</article>
                <article class="categoria">Guitarras</article>
                <article class="categoria">Guitarras</article>
            </div>
            <button>Ver todas las categorías</button>
        </section>
        <hr class="separador">
        <section class="mas-vendidos">
            <h2>Más vendidos</h2>
            <div class="items-mas-vendidos">  
            <article class="producto">
                <img class="imagen-producto" >
                <div class="detalle-producto">
                    <div class="container-detalle">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Guitarra</strong></p>
                </div>
            </article>
            <article class="producto">
                <img class="imagen-producto" >
                <div class="detalle-producto">
                    <div class="container-detalle">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Trompeta</strong></p>
                </div>
            </article>
            <article class="producto">
                <img class="imagen-producto" >
                <div class="detalle-producto">
                    <div class="container-detalle">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Batería</strong></p>
                </div>
            </article>
        </section>
        <hr class="separador">
        <section class="productos-mostrados">
            <h2>Productos mostrados</h2>
            <div class="items-productos-mostrados">
            <article class="producto">
                <img class="imagen-producto" >
                <div class="detalle-producto">
                    <div class="container-detalle">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Guitarra</strong></p>
                </div>
            </article>
            </div>
        </section>
        <hr class="separador">
        <section class="complementos">
            <div class="destacados">
                <h3>Destacados</h3>
                <article class="producto">
                    <img class="imagen-producto" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripciones"><strong>Guitarra</strong></p>
                    </div>
                </article>
            </div>
            <div class="comentarios">
                <h3>Comentarios</h3>
                <article class="producto">
                    <img class="imagen-producto" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripciones"><strong>Trompeta</strong></p>
                    </div>
                </article>
            </div>
            <div class="novedades">
                <h3>Novedades</h3>
                <article class="producto">
                    <img class="imagen-producto" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descripciones"><strong>Guitarra</strong></p>
                    </div>
                </article>
            </div>
            <div class="espacio-publicitario">
                <p>Publicidad</p>
                <img class="imagen-producto">
            </div>
        </section>
    </main>
    <footer>
        <img id="logo-footer" src="/img/SoundBox.png" alt="SoundBox">
        <div class="info">
        <div class="footer-bar">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Garantía post-venta</a></li>
                <li><a href="#">Contáctanos</a></li>

            </ul>
        </div>
        </div>
        <div class="redes">
            <ul>
                <p>Redes</p>
                <li><img></li>
                <li><img></li>
                <li><img></li>
                <li><img></li>
            </ul>
        </div>
        <p>Copyright</p>
    </footer>
    
</body>
</html>