<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/reset.css" rel="stylesheet">
    <link href="styles/header-footer.css" rel="stylesheet">
    <link href="styles/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" />
    <title>Sound Box</title>
</head>
<body>
    <header>
        <section class="header-superior">
            <div class="envíos-bar">
                <ul>
                    <li>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <span class="material-symbols-outlined">travel</span>
                        <p>Envíos locales e internacionales inmediatos</p>
                    </li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="/register">Crear cuenta</a></li>
                    <li><a href="/login">Ingresar</a><span class="material-symbols-outlined">login</span></li>
                    <li class="mi-cajita"><span id="mi_cajita" class="material-symbols-outlined">shopping_cart</span><a href="/productCart">Mi Cajita</a></li>
                </ul>
            </div>
        </section>
        <section class="header-inferior">
            <img id="logo" src="/img/svg/estandar.svg" alt="SoundBox">
            <div class="nav-bar">
                <ul>
                <div class="dropdown">
                    <li>
                        <a href="#">Instrumentos musicales</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">    
                    <li>
                        <a href="#">Amplificación</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Efectos</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Accesorios</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                    <div class="dropdown">
                <li>
                    <a href="#">Segunda mano</a><i class="fa-solid fa-chevron-down"></i>
                </li>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                    </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Ofertas</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Marcas</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                    <li>
                    <div class="search-bar">
                        <form>
                            <input type="text" placeholder="Buscar productos, marcas">
                            <span class="material-symbols-outlined">search</span>
                        </form>
                    </div>
                    </li>
                </ul>  
            </div>
        </section>
        <section class="carrusel">
            <h2>CARRUSEL</h2>
        </section>
    </header>
    <hr class="separador">
    <main>
        <section class="compra-por-categoria">
            <h2>COMPRA POR CATEGORÍA</h2>
            <div class="items-categorias">  <!-- <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras"> -->
                <article class="categoria">
                    <p>Guitarras</p>
                    <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                </article>
                <article class="categoria">
                    <p>Guitarras</p>
                    <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                </article>
                <article class="categoria">
                    <a href="/productDetail">
                    <p>Efectos</p>
                    <img src="/img/home/categoria-efectos.jpg" alt="Efectos"></a>
                </article>
                <article class="categoria">
                    <p>Teclados y Pianos</p>
                    <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                </article>
                <article class="categoria">
                    <p>Orquesta</p>
                    <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                </article>
                <article class="categoria">
                    <p>Amplificación</p>
                    <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                </article>
                <article class="categoria">
                    <p>Segunda Mano</p>
                    <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                </article>
                <article class="categoria">
                    <p>Grabación</p>
                    <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                </article>
            </div>
            <div class="button">
                <button>VER TODAS LAS CATEGORÍAS</button>
            </div>
        </section>
        <hr class="separador">
        <section class="mas-vendidos">
            <h2>Más vendidos</h2>
            <div class="nav-bar">
                <ul>
                    <li>
                        <a href="#">Filtro</a>
                    </li>  
                    <li>
                        <a href="#">Accesorios</a>
                    </li>
                    <li>
                        <a href="#">Teclado & Pianos</a>
                    </li>
                    <li>
                        <a href="#">ordenar por titulo</a><i class="fa-solid fa-chevron-up"></i>
                    </li>
                </ul>  
            </div>
            <div class="items-mas-vendidos">  
            <article class="producto">
                <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta">
                <div class="detalle-producto">
                    <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                    <div class="container-detalle">
                        <p class="calificacion">Estrellas</p>
                        <p class="precios">$6.770</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <img src="/img/productos/percusion/percusion-2.jpg" alt="Percusion" >
                <div class="detalle-producto">
                    <p class="descripciones"><strong>Mein Cymbals Arena Marching Cymbals Pair</strong></p>
                    <div class="container-detalle">
                        <p class="calificacion">Estrellas</p>
                        <p class="precios">$6.770</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                <div class="detalle-producto">
                    <p class="descripciones"><strong>Handcrafted Wood Aoustic Violin</strong></p>
                    <div class="container-detalle">
                        <p class="calificacion">Estrellas</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                </div>
            </article>
            <article class="producto">
                <img src="/img/productos/guitarras/guitarra-1.jpg" alt="Guitarra" >
                <div class="detalle-producto">
                    <p class="descripciones"><strong>Gibson 2016 T Les Paul Studio 50'S Tribute</strong></p>
                    <div class="container-detalle">
                        <p class="calificacion">Estrellas</p>
                        <p class="precios">$6.770</p>
                    </div>
                </div>
            </article>
            </div>
        </section>
        <hr class="separador">
        <section class="productos-mostrados">
            <h2>Productos mostrados</h2>
            <div class="items-productos-mostrados">
                <article class="producto">
                    <img src="/img/productos/efectos/mezcla-1.jpg" alt="Mezcladora"  >
                    <div class="detalle-producto">
                        <p class="descripciones"><strong>Mezcladora</strong></p>
                        <div class="container-detalle">
                            <p class="calificacion">Estrellas</p>
                            <p class="precios">$6.770</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/efectos/mezcla-2.jpg" alt="Mezcladora"  >
                    <div class="detalle-producto">
                        <p class="descripciones"><strong>Mezcladora</strong></p>
                        <div class="container-detalle">
                            <p class="calificacion">Estrellas</p>
                            <p class="precios">$6.770</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/efectos/mezcla-3.jpg" alt="Mezcladora"  >
                    <div class="detalle-producto">
                        <p class="descripciones"><strong>Mezcladora</strong></p>
                        <div class="container-detalle">
                            <p class="calificacion">Estrellas</p>
                            <p class="precios">$6.770</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/efectos/mezcla-4.jpg" alt="Mezcladora"  >
                    <div class="detalle-producto">
                        <p class="descripciones"><strong>Mezcladora</strong></p>
                        <div class="container-detalle">
                            <p class="calificacion">Estrellas</p>
                            <p class="precios">$6.770</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <hr class="separador">
        <section class="complementos">
            <div class="destacados">
                <h3>Destacados</h3>
                <article class="producto">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="comentarios">
                <h3>Comentarios</h3>
                <article class="producto">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Handcrafted Wood Aoustic Violin</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Handcrafted Wood Aoustic Violin</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="novedades">
                <h3>Novedades</h3>
                <article class="producto">
                    <img src="/img/productos/accesorios/audifonos-1.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Audifonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/productos/accesorios/audifonos-1.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Audifonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="espacio-publicitario">
                <img src="/img/banners/banner_promo.jpg" alt="Publicidad">
            </div>
        </section>
    </main>
    <footer>
        <img id="logo-footer" src="/img/svg/fondoNegro2.svg" alt="SoundBox">
        <div class="info">
            <div class="footer-bar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Garantía post-venta</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>SOUNDBOX   <span> Todos los derechos reservados</span></p>
            </div>
        </div>
        <div class="redes">
            <ul>
                <li><img src="/img/svg/facebook1.svg"></li>
                <li><img src="/img/svg/twitter1.svg"></li>
                <li><img src="/img/svg/youtube1.svg"></li>
                <li><img src="/img/svg/instagram1.svg" alt="Instagram"></li>
            </ul>
        </div>
    </footer>
</body>
</html>