<!DOCTYPE html>
<html lang="en-es">
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>
<link href="/styles/list-users.css" rel="stylesheet">


<body>

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('./partials/header.ejs') %>
    <!-- =========================================================================================================== -->

    <main>
       <div class="titel-page">
        <h1>Usuarios de soundbox</h1>
       </div>

       <section class="users">
        <div class="user_card">
            <div class="img">
                <img src="" alt="">
            </div>

            <div class="infoUser">
                <div class="idUser">
                    <p>#</p>
                </div>
                <p>Nombre: Alvaro</p>
                <span>Correo: alvaro90@gmail.com</span>
                <span>Fecha de registro: 2000/11/15</span>
                <samp>Compras echas: 0</samp>
            </div>
        </div>
       </section>
    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('./partials/footer.ejs') %>

<!-- =========================================================================================================== -->
</body>

</html>
