<!DOCTYPE html>
<html lang="en-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"><!-- icon of tab -->
    <title>login</title>

    <!-- STYLES ↓ -->
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/login.css">

</head>
<body>
    <header>

    </header>
    <form action="">
        <section>
            <div class="mail">
                <label for="">email</label>
                <input type="email" required>
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" required>
            </div>
            <button>to acces</button>
        </section>
    </form>
    <footer>

    </footer>
</body>
</html>