<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>
    <link rel="stylesheet" href="not-found.css">
    <%- include("./partials/header") %>
<main>
    <body>
        <div class="separador-externo "></div>
        <div class="separador-interno"></div>
        <section class="seccion">
            <div class="circular-seccion">
             <span> <h1> ERROR 404 NOT-FOUND!</h1></span>
             <SPAN>Lo que busca, no existe</SPAN>
            </div>
        </section>
        <div class="separador-interno "></div>
        <div class="separador-externo "></div>
    </body>
    <%- include("./partials/footer") %>
</main>

</html>