<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/productDetail.css">
    <link rel="stylesheet" href="/styles/header-footer.css">

    <title>Product Detail</title>

</head>
<body>
    
    
<!------------------------- NAV-BAR ------------------------->
    <header>
        <div class="header-log-bar">
            <div>
                <a href="/">
                    <img src="/img/svg/estandar.svg" alt="SoundBox" class="logo">
                </a>
            </div>
        
        <nav class="nav-bar">
            <div class="nav-bar-menu">
                <ul style="list-style: none;" class="nav-bar-ul">
                    <li class="nav-bar-li"> <a href="#">Instrumentos musicales</a> </li>
                    <li class="nav-bar-li"> <a href="#">Amplificación</a> </li>
                    <li class="nav-bar-li"> <a href="#">Efectos</a> </li>
                    <li class="nav-bar-li"> <a href="#">Accesorios</a> </li>
                    <li class="nav-bar-li"> <a href="#">Segunda mano</a> </li>
                    <li class="nav-bar-li"> <a href="#">Ofertas</a> </li>
                    <li class="nav-bar-li"> <a href="#">Marcas</a> </li>
                </ul>
            
                <div class="nav-bar-menu-icon">

                <div class="search-bar">
                    <form>
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                
                <div class="car-shop-buy">
                    <form>
                        <button>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        </nav>
    
        <div class="nav-bar-menu-sec">
            <div class="product-relationated">
                <ul style="list-style: none;" class="nav-bar-ul-sec">
                    <li class="nav-bar-li"><a href="#">Producto 1</a></li>
                    <li class="nav-bar-li"><a href="#">Producto 2</a></li>
                </ul>
            </div>
            
            <div class="nav-bar-menu-bottom">
                <ul style="list-style: none;" class="nav-bar-ul-sec">
                    <li class="nav-bar-li"> <a href="#">Instrumentos musicales</a> </li>
                    <li class="nav-bar-li"> <a href="#">Amplificación</a> </li>
                    <li class="nav-bar-li">Gibson 2016 T Les Paul Studio 50's Tribute</li>
                </ul>
            </div>
        </div>
    </header>
<!------------------------- MAIN ------------------------->
    
    <main>
        <section class="section-product">
            
            <div class="product-complete-web-description">
                <div class="img-web-product-zoom">
                    <img src="/img/productos/guitarras/guitarra-1.jpg" alt="product-img" class="product-image-n1">
                </div>
                    

                <div class="information-product-general">

                    <div class="product-name-title">
                        <h1>Gibson 2016 T Les Paul Studio 50's Tribute</h1>
                    </div>
                    
                    <div class="product-price">
                        <p class="price"> $899.00 - $950.00</p>
                    </div>
                    
                    <div class="product-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure reiciendis temporibus minus eum quia sit obcaecati blanditiis minima quae id maiores vero soluta eveniet magni nostrum ad ex, neque impedit sed quisquam deleniti incidunt. Necessitatibus sapiente nulla quidem optio praesentium? Nobis quasi numquam cupiditate ducimus nesciunt deserunt aut.
                    </div>
                    
                    <div class="product-quant-web-color-options">
                        <div class="product-select-color-web">
                            <form>
                                <label for="color" class="color-bottom-invisible">Color</label>
                                <select name="Colores" id="product-colors-available">
                                    <option value="choose-option">Choose an option</option>
                                    <option value="black">Black</option>
                                    <option value="gray">Gray</option>
                                    <option value="brown">Brown</option>
                                    <option value="red">Red</option>
                                    <option value="yellow">Yellow</option>
                                </select>
                            </form>
                        </div>
                        
                        <div class="product-quant-web">
                            <input type="number" id="product-quantity" name="quantity" value="1" aria-label="Product quantity" size="4" min="1" max="" step="1" placeholder="" inputmode="numeric" autocomplete="off">
                        </div>
                    </div>
                        
                        <div class="add-to-the-shop-cart">
                            <button type="submit" class="add-to-cart">ADD TO CART</button>
                        </div>
                    
                    <div class="categories-product-relationated">
                        <span class="categories">Categories: 
                            <a href="#" rel="tag">Band & Orchestra</a>
                            ,        
                            <a href="#" rel="tag">Bass Guitar</a>
                            , 
                            <a href="#" rel="tag">Guitars</a>
                            , 
                            <a href="#" rel="tag">Instruments</a>
                            , 
                            <a href="#" rel="tag">Orchestral Strings</a>
                        </span>
                    </div>
                    
                    <div class="tags-products-web">
                        <span class="product-tagest">Tags:
                            <a href="#">company</a>
                            <a href="#">electric guitars</a>
                            <a href="#">sale</a>
                        </span>
                    </div>
                </div>
            </div>
                </section>
                
                <section>
        <div class="web-dropdown-list-tab">
            <ul class="extra-manu-list-dropdown" style="list-style: none;">
                <li class="description-general-product" role="tab" aria-controls="tab-description">
                    <a href="#tab/description"> Description </a>
                </li>
                <li class="additional-information-general-product" role="tab" aria-controls="tab-additional-information">
                    <a href="#tab/additional-information"> Additional Information </a>
                </li>
                <li class="reviews-general-product" role="tab" aria-controls="tab-reviews">
                    <a href="#tab/reviews"> Reviews </a>
                </li>
            </ul>

            <div class="description-tab-web-dropdown-list">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut dolores neque provident ipsum, quisquam ea, tenetur temporibus et facere error ratione sapiente accusamus tempora. Et voluptatibus necessitatibus dolorum optio ratione aperiam quo? Similique, vel pariatur? Cupiditate atque dolorem fuga doloribus nobis voluptatem quas aut vel laudantium! Laboriosam necessitatibus ullam minima culpa iure veritatis soluta aperiam officia, ab inventore a possimus suscipit delectus at harum sed deserunt praesentium aspernatur. Quod, omnis!</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sed repellendus magnam adipisci. Rem, soluta molestias facilis veniam magni animi cupiditate ratione ut sed perferendis minima itaque, iusto, nam fuga ea molestiae nobis veritatis ad minus quae deserunt libero totam odio ipsum. Iure, nesciunt sunt perferendis necessitatibus quas voluptatem tenetur nobis incidunt maxime quod voluptate ab officiis non qui dolor ratione. Ipsa quam quaerat consequatur nemo quo tenetur nihil praesentium id reiciendis labore soluta quod dolorem est inventore itaque quasi fugiat exercitationem, recusandae autem omnis sint illum nisi. Temporibus eligendi cupiditate corporis magnam consectetur placeat quas soluta distinctio id ipsa.</p>
            </div>

            <div class="additional-information-tab-web-dropdown-list">
                <h2>additional information</h2>

                <div class="additional-information-tab-web-dropdown-list-p">
                    <p>
                        Color
                    </p>

                    <span>Black, Red, White</span>
                </div>
            </div>
        </div>
    </section>
    </main>


    <!------------------------- FOOTER ------------------------->

    <footer>
        <div class="footer-bar-menu-sec">
            <img id="logo-footer" src="/img/svg/estandar.svg" alt="SoundBox" class="logo-footer">
            
            <div class="footer-bar">
                <ul style="list-style: none;" class="footer-bar-ul">
                    <li class="footer-bar-li"> <a href="#">Inicio</a></li>
                    <li class="footer-bar-li"> <a href="#">Quiénes somos</a></li>
                    <li class="footer-bar-li"> <a href="#">Nuestros servicios</a></li>
                    <li class="footer-bar-li"> <a href="#">Tiendas</a></li>
                    <li class="footer-bar-li"> <a href="#">Garantía post-venta</a></li>
                    <li class="footer-bar-li"> <a href="#">Contáctanos</a></li>
                </ul>
            </div>
            
            <div class="redes">
                <ul style="list-style: none;" class="footer-bar-ul-redes">
                    <li class="footer-bar-li"> <a href="#"> <i class="fa-brands fa-facebook-f"></i> </a> </li>
                    <li class="footer-bar-li"> <a href="#"> <i class="fa-brands fa-twitter"></i> </a> </li>
                    <li class="footer-bar-li"> <a href="#"> <i class="fa-brands fa-youtube"></i> </a> </li>
                    <li class="footer-bar-li"> <a href="#"> <i class="fa-brands fa-instagram"></i> </a> </li>
                </ul>
            </div>
        </div>
        <p>Copyright</p>
    </footer>

</body>
</html>