<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/productCart.css">
    <title>Product Cart</title>
</head>
<body>
    <main>
        <div class="title">
            <h1>CARRITO</h1>
        </div>
        <section class="carrito">


            <section class="galery">

                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>
                <div class="card">
                    <div class="product-image">
                        <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/YAMAHA/0704121327551540_01_medium.jpg"
                            alt="">
                    </div>
                    <div class="product-description">
                        <h5>guitarra criolla</h5>
                        <div class="card-middle-divisor">
                            <p class="with-stock">stock disponible</p>
                            <input type="number">
                            <p class="without-stock" style="color: red;">fuera de stock</p>
                        </div>
                        <strong>
                            <h1>-50 % OFF</h1>
                        </strong>
                        <strong><span class="product-price">23 $</span></strong>
                    </div>
                    <div class="delete-card-button">
                        <button style="color: red;">Eliminar</button>
                    </div>
                </div>

            </section>

            <!-- ( CARRITO ITEMS ) -->

            <section class="payement-card">
                <section class="total">
                    <div class="total-amount">
                        <h2>TOTAL:</h2>
                        <h1>2000000$</h1>
                    </div>

                    <div class="payement-button">
                        <button>PAGAR AHORA</button>
                    </div>
                </section>


                <section class="subtotal">
                    <strong class="titulo-subtotal">
                        <h1>Subtotal:</h1>
                    </strong>

                    <div class="subtotal-sumatory">

                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>

                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>

                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>

                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <span>34$</span>
                            </div>
                        </div>

                        <h1>DESCUENTOS</h1>

                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                        <div class="product-description-subtotal">
                            <div class="subtotal-item-cards">
                                <p>nombre</p>
                                <p>-50% OFF</p>
                                <span>17$</span>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>

        <section class="seccion-carrito-corredor">
            <h3><strong>agregar al carrito </strong></strong></h3>
            <div class="corredor">
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <div class="image-related">
                    <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                </div>
                <!-- fin del carrusel agregar a carrito -->
            </div>
            <!-- fin del carrusel agregar a carrito -->
        </section>
    </main>
</body>
</html>