<%- include('./partials/head.ejs') %>

<link href="/styles/reset.css" rel="stylesheet">
<link href="/styles/header-footer.css" rel="stylesheet">
<link href="/styles/loginRegister.css" rel="stylesheet">


<body>

    <%- include('./partials/header.ejs') %>

    <form action="/register">
        
        <div class="contenedor">
          <h1 class="mainTitleRegister">REGISTRARSE</h1>
          <p class="subTitleRegister">¡CREAR CUENTA NUEVA!</p>
          <hr>
          <div class="alignForm">    
          <label for="email"><b>EMAIL</b></label>
          <input type="text" placeholder="Ingresar mail" name="email" id="email" required>
      
          <label for="password"><b>CONTRASEÑA</b></label>
          <input type="password" placeholder="Ingresar contraseña" name="contraseña" id="contraseña" required>
      
          <label for="password2"><b>REPETIR CONTRASEÑA</b></label>
          <input type="password" placeholder="Repetir contraseña" name="RepetirContrseña" id="RepetirContrseña" required>
          <hr>
           <button type="submit" class="registerboton">¡BUENA VIBRA!</button>
        </div>
        </div>  
        <div>
         <p class="bottomRegister"> YA TENES CUENTA? <a href="login.html"></a><a href="/login">¡CLICK AQUI!</a></p>  
         <p class="bottomRegister">AL CREAR SU CUENTA ESTA DE ACUERDO CON NUESTROS <a href="#">TERMINOS Y CONDICIONES</a>.</p>  
         </div>
      </form> 
</body>


<%- include('./partials/footer.ejs') %>


