<%- include('./partials/head.ejs') %>

<link href="/styles/reset.css" rel="stylesheet">
<link href="/styles/header-footer.css" rel="stylesheet">
<link href="/styles/loginRegister.css" rel="stylesheet">

    
</head>
<body>
    <header>
        <section class="header-superior">
            <div class="envíos-bar">
                <ul>
                    <li>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <span class="material-symbols-outlined">travel</span>
                        <p>Envíos locales e internacionales inmediatos</p>
                    </li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="/register">Crear cuenta</a></li>
                    <li><a href="/login">Ingresar</a><span class="material-symbols-outlined">login</span></li>
                    <li class="mi-cajita"><span id="mi_cajita" class="material-symbols-outlined">shopping_cart</span><a href="/productCart">Mi Cajita</a></li>
                </ul>
            </div>
        </section>
        <section class="header-inferior">
            <a href="/" target="_blank"><img id="logo" src="/img/svg/estandar.svg" alt="SoundBox"></a> 
            <div class="nav-bar">
                <ul>
                    <div class="dropdown">
                        <li>
                            <a href="#">Instrumentos musicales</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">    
                        <li>
                            <a href="#">Amplificación</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Efectos</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Accesorios</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                        <div class="dropdown">
                    <li>
                        <a href="#">Segunda mano</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                        </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Ofertas</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Marcas</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <li>
                    <div class="search-bar">
                        <form>
                            <input type="text" placeholder="Buscar productos, marcas">
                            <span class="material-symbols-outlined">search</span>
                        </form>
                    </div>
                    </li>
                </ul>  
            </div>
        </section>
    </header>
    
    <form action="/register">
        
        <div class="contenedor">
          <h1 class="mainTitleRegister">REGISTRARSE</h1>
          <p class="subTitleRegister">¡CREAR CUENTA NUEVA!</p>
          <hr>
          <div class="alignForm">    
          <label for="email"><b>EMAIL</b></label>
          <input type="text" placeholder="Ingresar mail" name="email" id="email" required>
      
          <label for="password"><b>CONTRASEÑA</b></label>
          <input type="password" placeholder="Ingresar contraseña" name="contraseña" id="contraseña" required>
      
          <label for="password2"><b>REPETIR CONTRASEÑA</b></label>
          <input type="password" placeholder="Repetir contraseña" name="RepetirContrseña" id="RepetirContrseña" required>
          <hr>
           <button type="submit" class="registerboton">¡BUENA VIBRA!</button>
        </div>
        </div>  
        <div>
         <p class="bottomRegister"> YA TENES CUENTA? <a href="login.html"></a><a href="/login">¡CLICK AQUI!</a></p>  
         <p class="bottomRegister">AL CREAR SU CUENTA ESTA DE ACUERDO CON NUESTROS <a href="#">TERMINOS Y CONDICIONES</a>.</p>  
         </div>
      </form> 
</body>


<%- include('./partials/footer.ejs') %>


