<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/svg/favicons.svg" type="image/x-icon">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/styles/reset.css">
    
        <link rel="stylesheet" href="/styles/header-footer.css">

        <link rel="stylesheet" href="/styles/loginRegister.css">

        <link rel="stylesheet" href="/style/icon.css">

        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" />

    
</head>
<body>
    <header>
        <section class="header-superior">
            <div class="envíos-bar">
                <ul>
                    <li>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <span class="material-symbols-outlined">travel</span>
                        <p>Envíos locales e internacionales inmediatos</p>
                    </li>
                </ul>
            </div>
            <div class="login-bar">
                <ul>
                    <li><a href="/register">Crear cuenta</a></li>
                    <li><a href="/login">Ingresar</a><span class="material-symbols-outlined">login</span></li>
                    <li class="mi-cajita"><span id="mi_cajita" class="material-symbols-outlined">shopping_cart</span><a href="/productCart">Mi Cajita</a></li>
                </ul>
            </div>
        </section>
        <section class="header-inferior">
            <img id="logo" src="/img/svg/estandar.svg" alt="SoundBox">
            <div class="nav-bar">
                <ul>
                    <div class="dropdown">
                        <li>
                            <a href="#">Instrumentos musicales</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">    
                        <li>
                            <a href="#">Amplificación</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Efectos</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Accesorios</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                        <div class="dropdown">
                    <li>
                        <a href="#">Segunda mano</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                        </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Ofertas</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li>
                            <a href="#">Marcas</a><i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <li>
                    <div class="search-bar">
                        <form>
                            <input type="text" placeholder="Buscar productos, marcas">
                            <span class="material-symbols-outlined">search</span>
                        </form>
                    </div>
                    </li>
                </ul>  
            </div>
        </section>
    </header>
    
    <section class="main">
        
        <h2 class="title">Crear cuenta<h2>
        
            <form action="/register" method="POST">
            
            <div class="fontForm">
                <div class="formB">
                <label>Nombre de usuario</label>
                <input type="text" name="username">
                </div>
                <div class="formB">
                <label>Email</label>
                <input type="email" name="email">
                </div>
            <div class="formB">
                <div class="inputBar">
                <label>Contraseña</label> 
                <input type="password" name="contraseña">
            </div>
            </div>
            <div class="formB">
                <label>Repetir contraseña</label> 
                <input type="password" name="contraseña">
            </div>
            <div class="boton">
                <button type="submit">Crear cuenta</button>
            </div>
        </div>
        </div>        
        </form>
        <p class="login">¿Ya tienes una cuenta? <a href="login.html">Iniciar sesion</a></p>
    </section>

</body>


<footer>

</footer>

</html>