<!DOCTYPE html>
<html lang="en-es">
<link href="/styles/resetPasswordForm.css" rel="stylesheet">
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>

    <body>

        <!-- =========================================================================================================== -->

        <!-- -HEADER / ENCABEZADO- -->
        <%- include('./partials/header.ejs') %>
            <!-- =========================================================================================================== -->

            <main class="main-login">

                <section class="main-login_section">
    
                    <div class="main-login_title">
                        <h1>¡Lleva la buena vibra!</h1>
                    </div>
            
                    <form action="/reset/password" method="POST" class="main-login_form"><!-- /userProfile/:userId -->
            
                        <div class="main-login_form_box-container one-login">
                            
                            <div class="main-login-form-box-container_title">
                                    <h2>¡Restablecer Contraseña!</h2>
                            </div>
    
                            <div class="fieldset mail">
            
                                <div class="label">
                                    <label for="email"><!-- Email --></label>
                                </div>
            
                                <div class="fa-onda fa-logo">
                                    <img src="/img/svg/simbolequalizer.svg" alt="SOUNDBOX soundBox regitro musica">
                                </div>
    
                                <div class="input">
                                    <input id="email" type="text"  placeholder="E-mail" name="email" value="<%= locals.old && old.email ? old.email : '' %>">
                                </div>
            
                            </div>
                            
                            <div class="button button-ingresar">
                                <input type="submit" value="Restablecer">
                            </div>
            
                        </div>
            
                    </form>
                    
                </section>
    
            </main>

            <!-- =========================================================================================================== -->

            <!-- FOOTER / PIE DE PAGINA -->
            <%- include('./partials/footer.ejs') %>



                <!-- =========================================================================================================== -->
    </body>

</html>