<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <%- include("./partials/head") %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>

        <section>
            
        </section>

    </main>
    <%- include("./partials/footer") %>
</body>
</html>