<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/todosLosProductos.css">
    <%- include("./partials/head") %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header") %>
    <main>

        <h1 class="titulo">Todos Los Productos:</h1>
        <section class="seccion-general">
            <div class="card">
                asdasd
            </div>
            
            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>

            <div class="card">
                asdasd
            </div>
        </section>

    </main>
    <%- include("./partials/footer") %>
</body>
</html>