<!DOCTYPE html>
<html lang="en-es">
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>

<link href="/styles/users.css" rel="stylesheet">



<body>

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('./partials/header.ejs') %>
    <!-- =========================================================================================================== -->

    <main>

        <div class="info-of-user">

            <div class="profile-img">
                <img src="/img/users/usuario-al-azar.png" alt="imgProfileSOUNDBOX">
            </div>
    
            <div class="name-lastname">
                <h2> nombre </h2>
                <h2>apellido</h2>
            </div>

        </div>

        <div class="save-favorites">
            <!-- logica si el producto esta guardado o en favoridos -->
            <div class="favorites">
                <div class="title">
                    <h3>Favoritos</h3>
                </div>
                <div class="cards">
                    <!-- logica -->
                </div>
            </div>
            <div class="save">
                <div class="title">
                    <h3>Guardados</h3>
                </div>
                <div class="cards">
                    <!-- logica -->
                </div>
            </div>
        </div>

    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('./partials/footer.ejs') %>

<!-- =========================================================================================================== -->
</body>

</html>
