
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>

<link href="/styles/users.css" rel="stylesheet">
<link href="/styles/reset.css" rel="stylesheet">


<body>

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('./partials/header.ejs') %>
    <!-- =========================================================================================================== -->

    <main>
        <h1>Personaliza tu usuario!</h1>
        <section class="form-user">
            <form action="">
                <input value="name">
                <input value="last-name">
                <input value="gmail">
                <input value="country">

                <input value="delete">
            </form>
        </section>
        <section class="second-section">
            <div><img src="IMG_DEFAULT.svg" alt=""></div>
            <div class="img-buttons">
                <input type="image">
                <input value="delete-img">
            </div>
        </section>
    </main>

    <!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('./partials/footer.ejs') %>

    <!-- =========================================================================================================== -->
</body>
