<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/allCategories.css">

    <%- include("../partials/header") %>

        <main class="main">
            <div class="div__max-whiht">

                <div class="div__title">
                    <h2>Todas las categorias</h2>
                </div>
                <section class="section__cordofonos">
                    <h3>De cuerda</h3>
                    <a href="#">Guitarras</a>
                    <a href="#">Guitarras Acusticas</a>
                    <a href="#">Guitarras Electricas</a>
                    <a href="#">Violin</a>
                    <a href="#">Ukelele</a>
                    <a href="#">Banjo</a>
                    <a href="#">Viola</a>
                    <a href="#">Arpa</a>
                </section>
            </div>
        </main>

        <%- include("../partials/footer") %>