<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/todosLosProductos.css">

    <%- include("../partials/header") %>

        <main class="main">
            <div class="div__title">
                <h2>Todas las categorias</h2>
            </div>
        </main>

<%- include("../partials/footer") %>
