    
    <!-- head -->
    <%- include("../partials/head") %>
    <link href="/styles/crearProducto.css" rel="stylesheet">
    <!-- /head -->

    <!-- HEADER -->
    <div><%- include("../partials/header")%>
    <!-- /HEADER -->

    <main>

                <section class="admin-container">

                    <div class="form-and-prviwe form-creat-product">

                        <form action="/products/create" method="POST" enctype="multipart/form-data">

                            <div class="form">

                                <div class="vista-previa-caja-genera_title">
                                    <h1>CREAR UN PRODUCTO</h1>
                                </div>

                                <div class="create-imagenes">

                                    <div class="fieldset imagen-of-product ">
                                        <label for="imagen"></label>
                                        <input placeholder="Imagen" type="file" name="form-imagen" class="imagen-form">
                                    </div>


                                </div>

                                <div class="fieldset product-name">

                                    <input type="text" name="name" class="fieldset-input nombre-form">

                                    <label for="nombre" class="fieldset-lbl lbl-productName">
                                        <span class="lbl-text">
                                            Nombre del producto
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset product-brand">

                                    <input type="text" name="brand" class="fieldset-input marca-form">

                                    <label for="marca" class="fieldset-lbl lbl-productBrand">
                                        <span class="lbl-text">
                                            Marca
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset price">

                                    <input type="number" name="price" min="1" max="9999999"
                                        class="fieldset-input precio-form">

                                    <label for="precio" class="fieldset-lbl lbl-productPrice">
                                        <span class="lbl-text">
                                            Precio
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset descuento">

                                    <input type="number" name="discount" max="99"
                                        class="fieldset-input descuento-form">

                                    <label for="descuento" class="fieldset-lbl lbl-productDiscount">
                                        <span class="lbl-text">
                                            Descuento
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset descripcion">

                                    <textarea name="description" id="" cols="30" rows="10"
                                        class="fieldset-input descripcion-form"></textarea>

                                    <label for="descripcion" class="fieldset-lbl lbl-productDescription">
                                        <span class="lbl-text">
                                            Descripcion
                                        </span>
                                    </label>

                                </div>

                                

                                <div class="fieldset cantidad-disponibles">

                                    <input type="number" name="quantity" min="1" max="1000"
                                        class="fieldset-input cantidad-disponible">

                                    <label for="disponibles" class="fieldset-lbl lbl-productAvailable">
                                        <span class="lbl-text">
                                            Cantidad disponibles
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset agregar-category">

                                    <input type="text" name="category" class="fieldset-input categories">

                                    <label for="category" class="fieldset-lbl lbl-productCaategory">
                                        <span class="lbl-text">
                                            categories
                                        </span>
                                    </label>

                                </div>

                                <div class="fieldset estado">

                                    <label for="state" class="estado">
                                        <!-- Estado -->
                                    </label>

                                    <select name="state" id="estado" class="fieldset-input estado-producto">

                                        <option value="Más vendido">Más vendido</option>
                                        <option value="Último visto">Último visto</option>
                                        <option value="Recién agregado">Recién agregado</option>

                                    </select>

                                </div>
                                <div class="fieldset-colores colores-disponibles">
                                    <span class="lbl-text">
                                        Colores
                                    </span>
                                    <input type="checkbox" name="colors" value="1" class="fieldset-input colors-form">
                                    <label for="color1" class="fieldset-lbl lbl-productColor">Rojo</label>
                            
                                    <input type="checkbox" name="colors" value="2" class="fieldset-input colors-form">
                                    <label for="color2" class="fieldset-lbl lbl-productColor">Amarillo</label>
                                    <input type="checkbox" name="colors" value="3" class="fieldset-input colors-form">
                                    <label for="color3" class="fieldset-lbl lbl-productColor">Azul</label>
                                    <input type="checkbox" name="colors" value="4" class="fieldset-input colors-form">
                                    <label for="color4" class="fieldset-lbl lbl-productColor">Negro</label>
                            
                                    <!-- Agregar más checkboxes según la cantidad de colores disponibles -->
                                </div>
                                <div class="botones crear-carta-borrar-carta">

                                    <label for="send-form"></label>
                                    <input type="submit" value="Crear" class="send-form" name="send-form">

                                    <label for="restar-form"></label>
                                    <input type="reset" value="Reiniciar" class="restar-form" name="restar-form">

                                </div>
                            </div>

                            <div class="vista-previa">

                                <div class="vista-previa-caja-genera_title">
                                    <h1>Vista previa</h1>
                                </div>

                                <div class="caja-general detalle-del-producto ">

                                    <div class="vista-previa-imagenes">

                                        <div class="fieldset imagen-of-product ">
                                            <label for="imagen"></label>
                                            <input placeholder="Imagen" type="file" name="form-imagen"
                                                class="imagen-form">
                                        </div>

                                        <div class="img-footer">
                                            <div class="fieldset imagen-of-product img-secundarias ">
                                                <label for="imagen"></label>
                                                <input placeholder="Imagen" type="file" name="form-imagen"
                                                    class="imagen-form">
                                            </div>

                                            <div class="fieldset imagen-of-product img-secundarias ">
                                                <label for="imagen"></label>
                                                <input placeholder="Imagen" type="file" name="form-imagen"
                                                    class="imagen-form">
                                            </div>

                                            <div class="fieldset imagen-of-product img-secundarias ">
                                                <label for="imagen"></label>
                                                <input placeholder="Imagen" type="file" name="form-imagen"
                                                    class="imagen-form">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="caja-sub-general-informacion">


                                        <div class="caja-primera">

                                            <div class="caja-titulo-producto">
                                                <h2 class="titulo-producto">Nombre del producto</h2>
                                            </div>

                                            <div class="caja-precio-clasificacion">

                                                <div class="product-price">
                                                    <span class="precio-producto"> $ Precio </span>
                                                    <span class="precio-producto"> Descuento % </span>
                                                </div>

                                                <form class="select-starts">

                                                    <div class="starts">
                                                        <p class="clasificacion">
                                                            <input id="radio1" type="radio" name="estrellas"><!--
                                                        --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                                                        --><input id="radio2" type="radio" name="estrellas"><!--
                                                        --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                                                        --><input id="radio3" type="radio" name="estrellas"><!--
                                                        --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                                                        --><input id="radio4" type="radio" name="estrellas"><!--
                                                        --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                                                        --><input id="radio5" type="radio" name="estrellas"><!--
                                                        --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                                                        </p>
                                                    </div>

                                                </form>

                                            </div>

                                        </div>

                                        <div class="caja-segunda">

                                            <div class="caja-descripcion-producto">

                                                <p class="descripcion-producto">
                                                    description...
                                                </p>

                                            </div>

                                            <div class="caja-colores-producto">

                                                <span class="texto-cantidad">cantidad nombre</span>

                                                <div class="caja-seleccion-colores">
                                                    <form action="">
                                                        <select name="color" id="color">
                                                            <option value="">Color</option>
                                                        </select>
                                                    </form>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="caja-cantidad-producto-carrito">

                                            <div class="caja-cantidad-producto">
                                                <input type="number" id="cantidad-seleccion" min="1" max="100">
                                            </div>

                                            <div class="caja-botones-cantidad-producto">
                                                <i class="fa-solid fa-caret-up"></i>
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>

                                            <div class="caja-agregar-carrito">

                                                <form action="" class="formulario-boton-agregar-carrito">
                                                    <button type="submit" class="boton-agregar-carrito"><i
                                                            class="fa-solid fa-cart-shopping"></i> <span
                                                            class="texto-boton-agregar-carrito">ADD</span></button>
                                                </form>

                                            </div>

                                        </div>

                                        <div class="caja-links-extra-producto">

                                            <div class="caja-categories-producto">
                                                <span class="links-categories-producto">Categories:
                                                    <a href="#">Guitars</a>,
                                                    <a href="#">Band & Orchestra</a>,
                                                    <a href="#">Bass Guitar</a>,
                                                    <a href="#">Instruments</a>,
                                                    <a href="#">Orchestral Strings</a>
                                                </span>
                                            </div>

                                            <div class="caja-tags-producto">
                                                <span class="links-tags-producto">Tags:
                                                    <a href="#">sale</a>,
                                                    <a href="#">company</a>,
                                                    <a href="#">electric guitars</a>
                                                </span>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="vista-previa-de-la-card disappear">

                                    <article class="producto">

                                        <a href="#">

                                            <div class="img-product-card">
                                                <img src="/img/products/IMG_DEFAULT.svg" alt="Trompeta">
                                            </div>

                                            <div class="detalle-producto">

                                                <div class="container-detalle">
                                                    <div class="descripciones">
                                                        <p>
                                                            <%= %>
                                                        </p>
                                                    </div>
                                                    <span class="precios">$</span>
                                                    <span class="descuentos">% off</span>
                                                </div>

                                            </div>

                                        </a>

                                    </article>
                                </div>

                            </div>

                        </form>

                    </div>

                </section>

    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>
    <!-- /Footer -->