<footer class="footer">
    <section class="right-menu-container">
        <section class="right-menu">
            <div class="right-icons-text">
                <p>asdasdasd</p>
            </div>
            <div class="right-icons">
                <img src="/img/svg/cajitaSBX.svg" alt="">
            </div>
        </section>

        <section class="right-menu">
            <div class="right-icons-text">
                <p>asdasdasd</p>
            </div>
            <div class="right-icons">
                <i class="fa-regular fa-heart"></i>
            </div>
        </section>

        <section class="right-menu" id="goTopBtn">
            <div class="right-icons">
                <i class="fa-solid fa-arrow-up"></i>
            </div>
        </section>
    </section>
    <div class="footer-center">

        <div class="container-simbol img">
            <img id="simbol-footer" src="/img/svg/simbolequalizer.svg" alt="SoundBox">
        </div>

        <nav class="info">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Garantía post-venta</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/contactUs">Contáctanos</a></li>
            </ul>
        </nav>

        <div class="redes">

            <div class="redes_img">
                <a href="https://www.facebook.com/profile.php?id=61556380835437" target="_blank">
                    <img src="/img/svg/facebook1.svg" alt="facebook">
                </a>
            </div>

            <div class="redes_img">
                <a href="#" target="_blank">
                    <img src="/img/svg/twitter1.svg" alt="X">
                </a>
            </div>

            <div class="redes_img">
                <a href="https://www.youtube.com/channel/UC_UifoWSzTmuKmBIR3JUojA" target="_blank">
                    <img src="/img/svg/youtube1.svg" alt="Youtube">
                </a>
            </div>

            <div class="redes_img">
                <a href="https://www.instagram.com/soundboxmusicstore/" target="_blank">
                    <img src="/img/svg/instagram1.svg" alt="Instagram">
                </a>
            </div>

        </div>

        <div class="copyright">
            <p>SOUNDBOX &copy; 2023-2034 Todos los derechos reservados</p>
        </div>

    </div>
        
</footer>

<!-- Fonts -->
<script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a3518a2b0e.js" crossorigin="anonymous"></script>

<!-- 
<script src="/scripts/productCart.js"></script>
<script src="/scripts/user.js"></script> -->
<script src="/scripts/header.js"></script>
<script src="/scripts/index.js"></script>

</body>

</html>