<footer>
    <img id="logo-footer" src="/img/svg/fondoNegro2.svg" alt="SoundBox">
    <div class="info">
        <div class="footer-bar">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Nuestros servicios</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Garantía post-venta</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>SOUNDBOX <span> Todos los derechos reservados</span></p>
        </div>
    </div>
    <div class="redes">
        <ul>
            <li><img src="/img/svg/facebook1.svg"></li>
            <li><img src="/img/svg/twitter1.svg"></li>
            <li><img src="/img/svg/youtube1.svg"></li>
            <li><img src="/img/svg/instagram1.svg" alt="Instagram"></li>
        </ul>
    </div>
</footer>