<body>

    <header id="header">

        <div class="header-center">

            <section class="header-superior">
                <div class="container">
                    <nav class="header-superior_nav">

                        <ul>

                            <div class="left">

                                <li class="li-comment">

                                    <div class="comment_envios-locales">

                                        <span class="material-symbols-outlined">
                                            local_shipping
                                        </span>

                                        <span class="material-symbols-outlined">
                                            travel
                                        </span>

                                        <p>
                                            Envíos locales e internacionales inmediatos
                                        </p>

                                    </div>

                                </li>

                            </div>

                            <div class="right">

                                <li class="li_login-register">

                                    <div class="register-login">

                                        <div class="register">
                                            <a href="/users/register">
                                                <span class="material-symbols-outlined">person</span>
                                                <p>Crear cuenta</p>
                                            </a>
                                        </div>

                                        <div class="login">
                                            <a href="/users/login">
                                                <span class="material-symbols-outlined">login</span>
                                                <p>Ingresar</p>
                                            </a>
                                        </div>

                                    </div>

                                </li>

                                <li class="li-miCajita">
                                    <a href="/productCart">
                                        <div class="btn-cajita">
                                            <img src="/img/svg/cajitaSBX.svg" class="svg-miCajita">
                                            Mi cajita
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <div class="admin-container">
                                        <a href="/admin">
                                            <i class="fa-solid fa-user-tie"></i>
                                        </a>
                                    </div>
                                </li>

                                <li class="li_user dropdown">

                                    <div>
                                        <a href="/users/userProfile/" class="account">
                                            <i class="fa-sharp fa-solid fa-circle-user"></i>
                                        </a>
                                    </div>

                                    <div class="dropdown-content">
                                        <a href="#"></a>
                                        <a href="#"></a>
                                        <a href="#"></a>
                                    </div>

                                </li>

                            </div>

                        </ul>

                    </nav>
                </div>
            </section>

            <section class="header-inferior">

                <div class="container-header">

                    <nav class="header-inferior_nav">

                        <ul class="header-inferior_nav_ul">

                            <li class="li_img-logoSBX">

                                <div class="img-logoSBX">
                                    <a href="/">
                                        <img id="logo" src="/img/svg/estandar.svg" usemap="#workmap" alt="SoundBox">
                                    </a>
                                </div>

                            </li>

                            <li class="dropdown">

                                <div>
                                    <a href="#section-categorías">Categorías</a><i class="fa-solid fa-chevron-down"></i>
                                </div>

                                <div class="dropdown-content-categoria">

                                    <section class="compra-por-categoria" id="section-categorias">
                                        <div class="items-categorias">

                                            <article class="categoria">
                                                <a href="/category/Guitarras">
                                                    <p>Guitarras</p>
                                                    <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Accesorios">
                                                    <p>Accesorios</p>
                                                    <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Efectos">
                                                    <p>Efectos</p>
                                                    <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Pianos">
                                                    <p>Teclados & Pianos</p>
                                                    <img src="/img/home/categoria-pianos-teclados.jpg"
                                                        alt="Teclados&Pianos">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Orquesta">
                                                    <p>Orquesta</p>
                                                    <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Amplificacion">
                                                    <p>Amplificación</p>
                                                    <img src="/img/home/categoria-amplificacion.jpg"
                                                        alt="Amplificación">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Segunda-Mano">
                                                    <p>Segunda Mano</p>
                                                    <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                                                </a>
                                            </article>

                                            <article class="categoria">
                                                <a href="categoria/Grabacion">
                                                    <p>Grabación</p>
                                                    <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                                                </a>
                                            </article>

                                        </div>
                                    </section>

                                </div>

                            </li>

                            <li class="dropdown">

                                <div>
                                    <a href="#section-mas-vendidos">Top Sellers</a><i
                                        class="fa-solid fa-chevron-down"></i>
                                </div>

                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>

                            </li>

                            <li class="dropdown">

                                <div>
                                    <a href="#seccion-marcas-banners">Marcas</a><i class="fa-solid fa-chevron-down"></i>
                                </div>

                                <div class="dropdown-content">
                                    <a href="#">Marshall</a>
                                    <a href="#">Zildjian</a>
                                    <a href="#">Gibson</a>
                                </div>

                            </li>

                            <li class="search-bar">
                                <input type="text" placeholder=" Buscar..">
                                <div class="btn-search-bar">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i>
                                </div>
                            </li>

                            <li class="container-menu-burguer">

                                <div class="menu-burguer" onclick="hide()">
                                    <div class="menu-line" onclick="show()"></div>
                                    <div class="menu-line" onclick="show()"></div>
                                    <div class="menu-line" onclick="show()"></div>
                                </div>

                            </li>

                        </ul>

                    </nav>

                </div>

            </section>

        </div>


    </header>

    <!-- los script va a ir en nuestros archivos ejs hasta que 
    aprendamos DOM, luego los activamos en el partial del foter-->
    <script src="/scripts/header.js"></script>