<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/styles/reset.css" rel="stylesheet">
    <link href="/styles/header-footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet" />
    <title>SOUNDBOX&copy</title>
</head>
</html> 