<header>
    <section class="header-superior">
        <div class="envíos-bar">
            <ul>
                <li>
                    <span class="material-symbols-outlined">local_shipping</span>
                    <span class="material-symbols-outlined">travel</span>
                    <p>Envíos locales e internacionales inmediatos</p>
                </li>
            </ul>
        </div>
        <div class="login-bar">
            <ul>
                <li><a href="/crearProducto" style="color: green;">ADMIN</a></li>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/login">Ingresar</a><span class="material-symbols-outlined">login</span></li>
                <li class="mi-cajita"><span id="mi_cajita" class="material-symbols-outlined">shopping_cart</span><a
                    href="/productCart"
                    >Mi Cajita</a></li>
            </ul>
        </div>
    </section>
    <section class="header-inferior">
        <img id="logo" src="/img/svg/estandar.svg" usemap="#workmap" alt="SoundBox" >
        <map name="workmap"> <!-- Este 'map' es para definir un área clickeable sobre el logo, para usarlo de link al home -->
            <area shape="rect" coords="0,0,270,350" alt="Logo" href="/">
        </map> 
        <div class="nav-bar">
            <ul>
                <div class="dropdown">
                    <li>
                        <a href="#">Instrumentos musicales</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Amplificación</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Efectos</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Accesorios</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Segunda mano</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Ofertas</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <li>
                        <a href="#">Marcas</a><i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <li>
                    <div class="search-bar">
                        <form>
                            <input type="text" placeholder="Buscar productos, marcas">
                            <span class="material-symbols-outlined">search</span>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</header>

</body>
</html>