
main {
	max-width: 1555px;
	margin: auto;
}

.admin-main_header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img-admin {
	width: 250px;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 50%;
	transition-duration: 0.5s;

	img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		border-radius: 15%;
		transition-duration: 0.8s;

	}
}

.nombre {
	width: 100%;
	display: flex;
	justify-content: center;
}

.admin-main-main {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card-of-select {
	width: 35%;
	height: 225px;
	background: #ffd4c2;
	border-radius: 10px;
	margin: 50px 0px;

	a {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		text-align: center;
		align-items: center;
		color: #000;
	}

	&:hover {
		box-shadow: inset;
		scale: 1.1;
		transition-duration: 0.5s;
		a {
			color: #ff540a;
			transition-duration: 0.5s;
		}
	}
}

/* TABLET */
@media only screen and (min-width: 376px) {
}

/* LAPTOP */
@media only screen and (min-width: 1024px) {
}
