main {
	display: flex;
	align-items: center;
	background: #cac7ba;

}

section {
	a {
		display: block;
		height: 30px;
	}
}


.div__items-categories--grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.categoria {
	position: relative;
	margin: 1rem;
	width: 50vh;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px 0;
	filter: brightness(85%);


	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 20px 0;
		filter: brightness(100%);

	}

	&:hover .category-explanation {
		transform: translateY(0px);
		text-shadow: 0px 2px 0px black;
		color: white;
		font-size: 18px;

		transition: all 3s ease;
	}
}

.category-explanation {
	padding: 5px;
	width: 100%;
	height: 100%;
	z-index: 999;
	color: #ff6c0a;
	background-color: #ff6c0a83;
	position: absolute;
	transform: translateY(200px);
}

.categoria a {
	font-size: 16px;
	text-shadow: 0px 3px 0px #ff6c0a;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.categoria p {
	display: block;
	background-color: rgba(0, 0, 0, 0.115);
	color: white;
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.5em;
	position: absolute;
	align-items: center;
	z-index: 1;
}

.dropdown-content-category_title {
	background: whitesmoke;
	text-align: center;
	border-radius: 0 0 50% 50%;
	border-bottom: 1px solid black;
	box-shadow: inset 0px 10px 20px gray;

	i {
	font-size: 45px;
color: green;
	}
}