/* header {
	display: none;
} */

main {
	background-color: #000;

	.admin-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.form-and-prviwe {
		display: flex;
		flex-wrap: wrap;
	}

	.form-creat-product {
		display: flex;
		justify-content: center;
		background-color: #fff;
		padding: 1rem;
		width: 100%;
		max-width: 375px;

		.vista-previa-caja-genera_title {
			display: flex;
			width: 100%;
			color: #ff540a;
			text-align: center;
			border-bottom: solid #ff540a;
			margin-bottom: 5px;

			h1 {
				font-size: 30px;
				margin: 0px auto;
			}
		}

		input {
			text-indent: 0px;
			border: none;
		}

		textarea {
			resize: none;

			/* line-height: calc(1em + 0.2em * (font-weight: bold));
            max-height: 200px;; */
		}
	}

	.fieldset {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		margin-bottom: 20px;
		height: 40px;
		input {
			width: 100%;
			height: 100%;
			background: #0000;
			outline: 0px;
			color: #000;
			margin: 0px;
			padding-top: 20px;

			&:focus + .fieldset-lbl .lbl-text {
				transform: translateY(-150%);
				font-size: 12px;
				color: #ff540a;
			}
		}

		/* .fieldset-input {
		} */

		textarea {
			width: 100%;
			color: #000;
			margin-top: 10px;

			&:focus {
				height: 100%;
			}
		}

		label {
			width: 100%;
		}

		.fieldset-lbl {
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border-bottom: 2px inset #ff540a;
		}

		.estado {
			margin-top: 20px;
		}
	}

	.create-imagenes {
		display: flex;
		padding-bottom: 10px;
		width: 100%;
		justify-content: center;

		input[type="file"] {
			opacity: 0;
		}

		.imagen-of-product {
			background: #ff540a;
			width: 100px;
			height: 100px;
			margin-left: 16px;
		}

		.imagen-of-product:hover {
			background-color: #550c18;
		}
	}

	/* *****-VISTA PREVIA-***** */

	.vista-previa {
		display: none;
	}
}

footer {
	display: none;
}
/* media query */

@media screen and (min-width: 768px) {
	/* header {
		display: none;
	} */

	main {
		.admin-container {
			display: flex;
			justify-content: center;
		}

		.form-creat-product {
			border-radius: 8px;
			max-width: 740px;
		}
	}

	footer {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	/* header {
		direction: none;
	} */

	main {
		margin: auto;

		.form-creat-product {
			max-width: 1000px;
		}

		form {
			display: flex;
		}

		.form {
			width: 50%;
		}

		.create-imagenes {
			display: none;
		}

		.vista-previa {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			background-color: white;
			margin-left: 0;
			border-radius: 0px 8px 8px 0px;

			.vista-previa-imagenes {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				align-content: center;
				align-items: center;
				width: 40%;

				input[type="file"] {
					opacity: 0;
					padding-top: 0;
				}

				.imagen-of-product {
					background: #ff540a;
					width: 175px;
					height: 225px;
				}

				.imagen-of-product:hover {
					background-color: #550c18;
				}

				.img-footer {
					display: flex;
					align-items: center;
					justify-content: space-around;
					width: 98%;
				}

				.img-secundarias {
					width: 30%;
					height: 80px;
				}
			}

			.centrar {
				align-self: center;
			}

			.nombre-marca {
				display: flex;
				justify-content: space-evenly;
			}

			.estado-producto {
				width: 100%;
				margin: 8px;
			}

			.precio-descuento {
				display: flex;
				justify-content: space-evenly;
			}

			.crear-carta-borrar-carta {
				display: flex;
			}

			/* GENERAL */

			a {
				text-decoration: none;
				color: black;
			}

			.vista-previa-caja-genera_title {
				display: flex;
				width: 100%;
				color: #ff540a;
				text-align: center;
				border-bottom: solid #ff540a;
				margin-bottom: 5px;

				h1 {
					font-size: 30px;
					margin: 0px auto;
				}
			}

			.imagen-producto-principal {
				width: 180px;
				margin: 0 0 8px 0;
				position: relative;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.imagen-producto-secundaria {
				width: 57px;
			}

			.precio-producto {
				margin: 0 25px;
				color: #ff540a;
			}

			.descripcion-producto {
				margin: 0 0 15px 0;
				font-size: 12px;
			}

			#colores-seleccion {
				border: none;
				background-color: #ebebeb;
				border-radius: 4px;
				width: 140px;
				height: 25px;
				font-size: 11px;
				text-align: center;
			}

			#cantidad-seleccion {
				width: 80px;
				height: 23px;
				text-align: center;
				outline: none;
				background-color: rgb(235, 235, 235);
				border: none;
			}

			.boton-agregar-carrito {
				border: none;
				border-radius: 12px;
				background-color: #ff540a;
				color: white;
				width: 80px;
				height: 20px;

				span {
					font-size: 12px;
				}
			}

			.fa-heart {
				position: absolute;
				top: 5px;
				right: 10px;
				font-size: 20px;
				color: #ff540a;
			}

			.fa-cart-shopping {
				position: relative;
				right: 4px;
				font-size: 12px;
				bottom: 1px;
			}

			.texto-boton-agregar-carrito {
				position: relative;
				left: 2px;
			}

			.lista-menu-desplegable-producto {
				display: flex;
				justify-content: center;
			}

			.descripcion-secundaria-producto,
			.informacion-adicional-secundaria-producto,
			.review-secundaria-producto {
				margin: 0 60px 20px 60px;
				font-size: 19px;
			}

			.descripcion-secundaria-producto:hover {
				border-bottom: solid 2px black;
			}

			.informacion-adicional-secundaria-producto:hover {
				border-bottom: solid 2px black;
			}

			.review-secundaria-producto:hover {
				border-bottom: solid 2px black;
			}

			.texto-descripcion-secundaria-producto {
				padding: 0 0 80px 0;
			}

			.texto-cantidad {
				margin: 0 60px 0 0;
			}

			.fa-caret-up {
				background-color: rgb(43, 42, 42);
				color: white;
				padding: 2.2px;
				text-align: center;
				position: relative;
				top: 1.7px;
			}

			.fa-caret-down {
				background-color: rgb(43, 42, 42);
				color: white;
				padding: 2.2px;
				text-align: center;
				position: relative;
				top: 1.7px;
			}

			label {
				color: orange;
			}

			input[type="radio"] {
				display: none;
			}

			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* CAJAS */

			.caja-titulo-producto {
				h2 {
					font-size: 25px;
				}
			}

			.caja-general {
				display: flex;
				flex-wrap: wrap;
				padding: 0 10px;
				width: 100%;
				height: 100%;
				margin-bottom: 26px;
			}

			.caja-sub-general-informacion {
				display: flex;
				flex-direction: column;
				padding: 0px 0px 0px 20px;
				width: 60%;
			}

			.caja-imagenes-general {
				display: flex;
				flex-direction: column;
			}

			.caja-precio-clasificacion {
				display: flex;
				justify-content: space-evenly;
				margin: 20px 0;
			}

			p.clasificacion {
				display: flex;
				flex-wrap: wrap;
				width: 102px;
			}

			.caja-colores-producto {
				display: flex;
				margin: 10px 0;
			}

			.caja-cantidad-producto-carrito {
				display: flex;
				margin: 15px 0 20px 0;
			}

			.formulario-boton-agregar-carrito {
				margin: 0 0 0 50px;
			}

			.caja-primera {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.caja-segunda {
				display: flex;
				flex-direction: column;
			}

			.caja-tercera {
				display: flex;
			}

			.caja-links-extra-producto {
				display: flex;
				flex-direction: column;

				span {
					font-size: 12px;
				}
			}

			.caja-categories-producto {
				border-top: solid 1px rgb(172, 172, 172);
				margin: 7px 0 10px 0;
				padding: 11px 0 0 0;
			}

			.caja-descripcion-secundaria-producto {
				padding: 0 80px;
			}

			.caja-secciones-secundarias-informacion {
				margin-top: 100px;
			}

			.enviar-form,
			.borrar-form {
				width: 80px;
				border: none;
				background-color: #ff540a;
				color: white;
				height: 24px;
				border-radius: 4px;
			}

			.enviar-form:hover {
				background-color: #550c18;
			}

			.borrar-form:hover {
				background-color: #550c18;
			}

			/********** -CARD- **********/

			.vista-previa-de-la-card {
				display: flex;
				width: 100%;
				justify-content: center;
				margin: 5px auto;
				.producto {
					width: 44%;
				}
			}

			.img-product-card {
				border: #000 solid 2px;
				border-radius: 8px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
	}

	footer {
		display: none;
	}
}
