.seccion-general {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	position: static;

	animation: stiky-efect 1s linear infinite;

	.header-superior {
		animation: of-hed-up 1s linear infinite;
	}

	.headerBottom {
		display: none;
	}
}

.circular-seccion {
	background-color: lightgray;
	width: 70%;
	height: 70%;
	border-radius: 50px;
	box-shadow: 0px 0px 18px 0px rgba(59, 59, 59, 0.54);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.texto-404 {
	margin: auto;
}

.texto-404 span {
	font-size: larger;
}

.botton-redirect {
	width: auto;
	background-color: #ff540a;
	padding: 1rem;
	margin: auto;
	border-radius: 8px;
	transition: 1s;

	a {
		color: #fff;
		width: 100%;
		height: 100%;
	}

	&:hover {
		scale: 1.1;
		cursor: pointer;
	}
}

.text-oops {
	display: flex;
	justify-content: space-around;
}

@media (max-width: 769px) {
	.text-oops {
		display: none;
	}
}

@media (max-width: 1024px) {
	.bottom-text {
		display: none;
	}
}

@media (max-width: 500px) {
	.texto-404 {
		display: none;
	}
}
