/* ETIQUETAS UNIVERSALES */

* {
    box-sizing: border-box;
}

/* ETIQUETAS DEL BODY */

body {
    background-color: #FF540A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: block;
}

.logosbx {
    width: 30%;
    margin: auto;
    padding: 20px;
}

.lema {
    width: 20%;
    margin: auto;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    color: #FFD4C2;
}

.text-description {
    text-align: center;
    margin: auto;
    padding: auto;
    display: block;
}

.text-white {
    color: #ffffff;
}

.text-intro {
    font-size: 16px;
}

/* ETIQUETAS DE TEXTO */

/* Encabezados */

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: black;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: black;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 21px;
    color: black;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

/* Párrafos */

p {
    color: #ffffff;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 22px;
}

.text-bold {
    font-weight: bold;
    color: black;
}