/*-----------------------------------------------
--------------------HEADER-----------------------
-------------------------------------------------*/

header {
	background-color: #000;
	position: sticky;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	animation: stiky-efect linear both;
	animation-timeline: scroll(root block);
	animation-range: 0 80px;

	ul {
		list-style-type: none;
	}
}

.header-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.header-superior {
	width: 100%;
	display: flex;
	justify-content: center;
	animation: of-hed-up linear both;
	animation-timeline: scroll(root block);
	animation-range: 0 60px;

	.container {
		width: 100%;
		max-width: 1440px;
	}

	.admin-container i {
		font-size: 28px;
		color: green;
	}

	.left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.right {
		width: 50%;
		display: flex;
		justify-content: flex-end;

		li {
			padding-right: 5%;
		}
	}

	.header-superior_nav {
		width: 100%;
	}

	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.comment_envios-locales {
		display: flex;
		color: #ff540a;

		p {
			color: #fff;
		}
	}

	.register-login {
		display: flex;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ff540a;
			width: 135px;

			&:hover {
				cursor: pointer;

				p {
					color: #ff540a;
				}
			}

			p {
				font-size: 1rem;
				color: #fff;
			}
		}
	}

	.register {
		padding-right: 10px;
	}

	.btn-cajita {
		display: flex;
		width: 100px;
		background-color: #ff540a;
		text-align: center;
		color: #fff;
		justify-content: center;
		align-items: center;

		&:hover {
			cursor: pointer;
			background-color: #550c18;
		}

		img {
			width: 25%;
		}
	}

	.li_user {
		font-size: 25px;

		.fa-circle-user {
			border-radius: 50%;
			color: #fff;

			&:hover {
				cursor: pointer;
				color: #ff540a;
				background-color: #fff;
			}

			.fa-circle-user:hover .users-dropdown {
				display: flex;
				position: absolute;
				top: 15rem;
			}
		}
	}
}

.header-inferior {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #ffffff;

	.container-header {
		width: 100%;
		max-width: 1440px;
	}

	.header-inferior_nav {
		width: 100%;
	}
	.header-inferior_nav_ul {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	#logo {
		width: 100px;
	}

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: black;
	}

	/*El contenedor <div> - necesario para posicionar el contenido desplegable */
	.dropdown {
		position: relative;
		display: none;
	}

	/* Contenido desplegable (oculto de forma predeterminada) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	.dropdown-content-categoria {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 625%;
		min-width: 320px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;

		&:hover {
			display: block;
		}
	}

	/* Enlaces dentro del menú desplegable */
	.dropdown-content a {
		font-family: "Montserrat";
		font-size: 14px;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Cambiar el color de los enlaces desplegables al pasar el mouse */
	.dropdown-content a:hover {
		background-color: #f1f1f1;
	}

	/* Mostrar el menú desplegable al pasar el mouse */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown:hover .dropdown-content-categoria {
		display: block;
	}

	/*-----COMPRA POR CATEGORÍA-----*/

	.compra-por-categoria {
		background-color: #b7b3a14f;
		width: 100%;
	}

	.items-categorias {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}

	.categoria {
		width: 145px;
		border: solid 2px white;
		border-radius: 8px;
		position: relative;
		margin: 15px;

		&:hover {
			box-shadow: 0px 0px 15px 2px rgba(255, 108, 4, 0.705);
			border: #ff540a;
		}
	}

	.categoria a {
		text-decoration: none;
	}

	.categoria img {
		width: 100%;
		border-radius: 8px;
		bottom: 0px;
		z-index: 2;
	}

	.categoria p {
		padding: 5px;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.4);
		color: white;
		font-family: "Bebas Neue", sans-serif;
		font-size: 18px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;

		&:hover {
			color: #ff540a;
		}
	}

	.compra-por-categoria .button {
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;
	}

	.search {
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 20px;
		height: 20px;
		background-color: #ff540a;

		&:hover {
			cursor: pointer;
			background-color: #550c18;
		}
	}
}

@keyframes stiky-efect {
	to {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		background: #fff;
	}
}

@keyframes of-hed-up {
	to {
		display: none;
	}
}

/*menu burguer*/

.menu-burguer {
	display: none;
	/* animacion en media queryes */
	width: 15px;
	height: 14px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.menu-line {
	height: 2px;
	background-color: #ff540a;
	border-radius: 3px;
	transition: all 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.menu-line:first-child {
	animation: firstLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
}

.open .menu-line:first-child {
	animation: firstLinetoOpen 240ms cubic-bezier(0.5, 0.95, 0.58, 1.37);
	animation-fill-mode: forwards;
}

@keyframes firstLinetoOpen {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(12px);
	}

	100% {
		transform: translateY(-5px) rotate(45deg);
	}
}

@keyframes firstLinetoClose {
	0% {
		transform: translateY(17px) rotate(0);
	}

	100% {
		transform: translateY(0);
	}
}

.open .menu-line:nth-child(2) {
	opacity: 0;
}

.menu-line:last-child {
	animation: lastLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
}

.open .menu-line:last-child {
	animation: lastLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
	animation-fill-mode: forwards;
}

@keyframes lastLinetoOpen {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-12px);
	}

	100% {
		transform: translateY(-17px) rotate(-45deg);
	}
}

@keyframes lastLinetoClose {
	0% {
		transform: translateY(-17px);
	}

	100% {
		transform: translateY(0);
	}
}

.search-bar {
	position: absolute;
	top: 45%;
	right: 7%;
	display: flex;
	transform: translate(-50%, -50%);
}

.search-bar input {
	position: absolute;
	right: 0px;
	outline: none;
	height: 46px;
	width: 0;
	color: black;
	border-radius: 50px;
	font-size: 20px;
	transition: all 0.7s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

::placeholder {
	color: gray;
}

.btn-search-bar {
	width: 45px;
	height: 45px;
	background-color: #ff540a;
	box-shadow: 12px 0px 0px 5px #ffffff;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
	z-index: 500;
}

.btn-search-bar i {
	position: absolute;
	right: 10px;
	font-size: 25px;
	color: lightgray;
	line-height: 45px;
	transition: all 0.7s ease;
}

.search-bar:hover input {
	width: 150px;
	border: 2px solid #ff540a;
}

.search-bar:hover i {
	transform: rotate(-90deg);
}

.btn-search-bar:hover {
	background-color: #550c18;
	transition: all 0.1s;
}

.menu-desplegable {
	height: 63%;
	z-index: 9999;
	margin: 15px;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/***************************************************/

/*-----------------------------------------------
--------------------FOOTER-----------------------
-------------------------------------------------*/

footer {
	background: #000;
	color: #fff;
	width: 100%;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: stretch;

	.footer-center {
		max-width: 1440px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.container-simbol {
		width: 20%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.info {
		width: 90%;
		display: flex;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			a {
				font-size: 0.9em;
				color: #fff;
			}

			li {
				margin-left: 10px;
			}
		}
	}

	.redes {
		width: 40%;
		height: 100%;
		display: flex;
		justify-content: space-between;

		.redes_img {
			width: 30px;
			height: 30px;
			margin: 10px 0px 10px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.copyright {
		text-align: center;
		width: 100%;

		p {
			font-size: 0.9em;
		}
	}
}

/*media query header*/

@media screen and (min-width: 768px) {
	footer {
		align-items: center;
		.container-simbol {
			width: 10%;
		}

		.info {
			width: 60%;
		}
	}
}
@media screen and (min-width: 1024px) {
	footer {
		align-items: center;
		.container-simbol {
			width: 10%;
		}

		.info {
			width: 87%;
			justify-content: center;
		}

		.redes {
			width: 3%;
			display: flex;
			flex-wrap: wrap;
		}
	}
}
