/*-----------------------------------------------
--------------------HEADER-----------------------
-------------------------------------------------*/

header{

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: stiky-efect linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 80px;


    ul{
        list-style-type: none;
    }
}

.header-superior{
    background-color: #000;
    animation:of-hed-up linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 60px;
    
    .container {
        width: 100%;
    
    }

    .right{
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .left{
        width: 50%;
        display: flex;
        justify-content: flex-end;

        li{
            padding-right: 5%;
        }
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .comment_envios-locales{
        display: flex;
        color: #ff540a;

        p{
            color: #fff;
        }
    }

    .register-login{
        display: flex;

        a { 
            display: flex;
            align-items: center;
            color: #ff540a;

            p{
                font-size: 1rem;
                color: #fff;
            }
        }
    }

    .register{
        padding-right: 10px;
    }

    .btn-cajita{

        display: flex;
        width: 100px;
        background-color: #ff540a ;
        text-align: center;
        color: #fff;
        justify-content: center;
        align-items: center;

        &:hover{
			cursor: pointer;
			background: #550C18;
		}

        img{
            width:25%;
        }
    }

    .li_user{
        font-size: 25px;
    }
    
}

.header-inferior{
    
    .header-inferior_nav_ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #logo{
        width: 100px;
    }

    a:link, 
    a:visited,
    a:hover,
    a:active{
        color: black;
    }

    /*El contenedor <div> - necesario para posicionar el contenido desplegable */
    .dropdown {
    position: relative;
    display: inline-block;
    }

    /* Contenido desplegable (oculto de forma predeterminada) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    /* Enlaces dentro del menú desplegable */
    .dropdown-content a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    /* Cambiar el color de los enlaces desplegables al pasar el mouse */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Mostrar el menú desplegable al pasar el mouse */
    .dropdown:hover .dropdown-content {
    display: block;
    }

    .search{
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 20px;
        height: 20px;
        background-color: #ff540a;

        &:hover{
			cursor: pointer;
			background-color: #550C18;
		}
    }

}

@keyframes stiky-efect{


    to{

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: #fff;
    }
    
}

@keyframes of-hed-up {
    
    to{
        display: none;
    }
}
    

/*-----------------------------------------------
--------------------FOOTER-----------------------
-------------------------------------------------*/

footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
    margin-right: 8rem;
}

.container-simbol {
    width: 8%;
    padding: 20px;
    margin-left: 1rem;
}

#simbol-footer {
    width: 100%;
}

footer a, p, span {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;   
    font-size: 14px;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active{
    color: white;
}

.footer-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 1px;
    
}

.footer-bar li {
    padding-right: 1rem;
}

.redes {
    margin-right: 1rem;
}

.redes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

.redes li {
    width: 3rem;

}

.redes img{
    width: 65%;
}

.copyright {
    color: white;
    background-color: black;
    margin-left: 2.5rem;
}

.copyright span {
    color: grey
}
