

.separador {
    width: 100%;
    height: 1rem;
    background-color: #FF540A;
    border: none;
}

/*-----------------------------------------------
--------------------MAIN-----------------------
-------------------------------------------------*/

main {
    background-color: white;
}

h2 {
    text-align: center;
}

.compra-por-categoria{
    background-color: #B7B3A1;
}

.items-categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.items-mas-vendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}


.items-productos-mostrados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.complementos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

