
.separador {
    width: 100%;
    border: dotted 1px #FF540A
}

/*------ETIQUETAS BANNER CARRUSEL------*/

.carrusel {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: block;
}

.banner {
    background-color: #FF540A;
    width: 100%;
    padding: 0px;
}

.player {
    background-color: #FF540A;
    width: 100%;
    margin: 0px;
    height: 60px;
    display: block;
}

/*-----------------------------------------------
--------------------MAIN-----------------------
-------------------------------------------------*/

main {
    background-color: white;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 20px;
    color: black;
}


/*-----COMPRA POR CATEGORÍA-----*/
.compra-por-categoria{
    background-color: #B7B3A1;
    height: 70vh
}
.compra-por-categoria h2{
    position: relative;
    top:1rem;
}
.items-categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
}
.categoria{
    position: relative;
    border: solid white;
    width: 20vw;
    height: 17vh;
    border-radius: 8px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    z-index: 3;
}
.categoria a{
    text-decoration: none;
}
.categoria p{
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    font-size: 28px;
    top: 6.1vh;
    left: 6.8vw;
    z-index: 2;
    color: white;
}

.categoria img{
    width: 19.7vw;
    height: 16.2vh;
    border-radius: 8px;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    right: 1px;
    top: 0px;
}


.compra-por-categoria .button{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

}
.compra-por-categoria button{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    color: white;
    background-color: black;
    width: 18vw;
    height: 8vh;
    padding: 1rem;
    border-radius: 15px;
}


/*-----MÁS VENDIDOS-----*/

.mas-vendidos .nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 1rem;
    list-style: none;
}

.fa-chevron-up {
    color: black;
}


.nav-bar li {
    padding-right: 3rem;
}

.fa-chevron-down, .fa-magnifying-glass, .fa-id-card, .fa-right-to-bracket, .fa-basket-shopping {
    color: #FF540A;
}

.nav-bar li:hover {
    border-bottom: solid 1px #FF540A;
}
.mas-vendidos a {
    text-decoration: none;
    font-family: 'Montserrat' ;   
    font-size: 14px;
    font-weight: 400;
}

.mas-vendidos a:link, 
.mas-vendidos a:visited,
.mas-vendidos a:hover,
.mas-vendidos a:active{
    color: black;
}


.items-mas-vendidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.producto img{
    border: solid black;
    width: 16vw;
    height: 45vh;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}
.producto p{
    font-family: 'Montserrat';
    font-size: 12px;
}
.detalle-producto{
    width: 16vw;
}
.container-detalle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*----PRODUCTOS MOSTRADOS-----*/
.items-productos-mostrados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*----MARCAS Y BANNERS PROMOS-----*/

/* Pendiente definir para que se acomode según estructura del home en el Repo */
.marcas-banners {
    width: auto;
    margin: auto;
    padding: auto;
    display: block;
}

/* Pendiente definir para que se acomode según estructura del home en el Repo */
.box-marcas {
    width: 80%;
    margin: auto;
    padding: 18px;
}

/* Pendiente definir para que se acomode según estructura del home en el Repo */
.box-promoBanners {
    width: 80%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promoBanners {
    width: 30%;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

/*----COMPLEMENTOS-----*/


.complementos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.complementos h3 {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
    border-bottom: solid #FF540A;
}

.destacados,
.comentarios,
.novedades {
    display: flex;
    flex-direction: column;
}

.complementos .producto{
    display: flex;
    flex-direction: row;
}
.complementos .producto img{
    width: 8vw;
    height: 20vh;
}
.complementos .container-detalle{
    display: flex;
    flex-direction: column;
}
.complementos .detalle-producto {
    width: 10vw;
}

.espacio-publicitario img{
    width: 50%;
}


.mas-vendidos, .productos-mostrados, .complementos {
    margin-top: 2rem;
    margin-bottom: 2rem;
}