body {
	background: #e6e6e6;
}
/* ------------------------------------------------------------------ */

.main {
	width: 100%;
}

.main-center {
	max-width: 1555px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}
/* ------------------------------------------------------------------ */

/*Slider*/

.slider {
	border-radius: 18px;
	overflow: hidden;
	width: 85%;
}

.slider--inner {
	display: flex;
	width: 600%; /*se le aumenta 100 dependiendo de las secciones hay 6 por ahora*/
	height: 400px;
	margin-left: -100%;
}

.img_sliderSection {
	width: 100%;
}

.slider--img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-buttons {
	position: relative;
	width: 100%;
	height: 50px;
	background: #ff540a;
	color: #fff;
}

.slider--btns {
	position: absolute;
	cursor: pointer;
}

div#btn-left {
	left: 40%;
}

div#btn-rigth {
	right: 40%;
}
/* ------------------------------------------------------------------ */

/*cards*/
.container-cards {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 50px;
}

.color-card {
	border-radius: 7px;
	overflow: hidden;

	&:hover {
		box-shadow: 0px 8px 8px 0px #554b4b69;
	}
}

.margin-card {
	margin-bottom: 5px;
}

.width-height-card {
	width: 100%;
}

.title-section {
	width: 100%;
}

.card {
	display: flex;
}

.img-product {
	display: block;
	border: 1px solid #000;
	overflow: hidden;
	border-radius: 7px;
	width: 20%;
	/* 	height: 280px; */

	img {
		width: 100%;
		height: 100%;
	}
}

.product-info {
	display: flex;
	flex-wrap: wrap;
	width: 80%;

	p {
		display: block;
	}

	.nameProduct {
		width: 100%;
	}

	.qualification {
		width: 50%;
	}
	.discount {
		display: flex;
		align-items: center;
		width: 50%;
	}
}

.form-qualification {
	display: flex;
	align-items: center;
	width: 100%;
	input[type="radio"] {
		display: none;
	}

	.clasificacion {
		direction: rtl;
		unicode-bidi: bidi-override;
	}

	label:hover {
		color: orange;
	}

	label:hover ~ label {
		color: orange;
	}

	input[type="radio"]:checked ~ label {
		color: orange;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.qualification {
		direction: rtl;
		unicode-bidi: bidi-override;
	}

	p {
		font-family: "Montserrat";
		font-size: 9px;
		text-wrap: pretty;
	}
}

/* ------------------------------------------------------------------ */
/*CARDS PROM*/
.cards-prom {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
}

.center_cards-prom {
	width: 85%;
	background: #fff;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding: 30px;
	border-radius: 8px;
}

.cardProm {
	background: #e6e6e6;
	border-radius: 15px;
	color: #ff540a;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		color: #000;
		padding: 0;
	}

	p {
		color: #000;
	}

	a {
		color: #fff;
		height: 100%;
		width: 100%;
	}
}

.picture-prom {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;

	img {
		width: 100%;
		height: 100%;
	}
}

.box-black-click {
	background: #000;
}

.picture-prom span {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 3rem;
	position: absolute;
}

.border-orange {
	border: 3px solid #ff540a;
	border-radius: 4px;
	width: 100%;
	height: 100%;
}
/* ------------------------------------------------------------------ */

/*-----CATEGORY-----*/

.dropdown-content-category {
	width: 85%;
	background: #fff;
	border-radius: 8px;
}

.dropdown-content-category_title {
	width: 100%;
	display: flex;
	align-items: center;

	a {
		color: #ff540a;
		padding-left: 15px;
	}
}

.shop-by-category {
	width: 100%;
}

.items-categories {
	padding: 15px 15px 30px 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
}

.categoria {
	border: solid 2px white;
	border-radius: 8px;
	position: relative;

	&:hover img {
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
		border: #ff540a;
		transform: translateY(15px);
		transform: scale(1.1);
		transition: 0.5s;
	}
}

.categoria a {
	text-decoration: none;
}

.categoria img {
	width: 100%;
	border-radius: 8px;
	bottom: 0px;
	z-index: 2;
}

.categoria p {
	padding: 5px;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-family: "Bebas Neue", sans-serif;
	font-size: 18px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover .fade-diagonal {
		color: #ff540a;
		/* .fade-diagonal {
			position: absolute;
			background: linear-gradient(to bottom right, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
			background-size: 200% 200%;
			animation: fadeDiagonal 4s linear infinite;
			z-index: 800;
		  } */
	}
}

/*---MEDIA QUERIES---*/

@media screen and (min-width: 740px) {
	.slider {
		margin: 60px;
	}

	.container-cards {
		display: flex;
		flex-wrap: wrap;
		width: 85%;
	}

	.cards {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;

		scrollbar-color: #ff540a;
	}

	.letter-from-outside {
		flex: 1 0 auto;
		margin: 0px 35px;
	}

	.width-height-card {
		width: 200px;
	}

	.card {
		display: block;
		width: 100%;
		height: 100%;
	}

	.img-product {
		width: 200px;
	}

	.product-info {
		width: 100%;
	}

	/*Catecories*/

	.items-categories {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* @media (max-width: 1024px) {
	.items-mas-vendidos {
		height: 350px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.slider-buttons {
		width: 85vw;
	}
}

@media (max-width: 768px) {
	.items-mas-vendidos {
		height: 700px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.detalle-producto {
		width: 100%;
	}

	.detalle-producto p {
		font-size: 16px;
	}
	.slider-frame,
	.slider-buttons {
		width: 95%;
	}

	.categoria {
		margin: auto;
	}

	.left-list,
	.right-list {
		margin-top: 15px;
	}

	.last-section h3 {
		font-size: 14px;
		margin-left: 4.3vw;
	}

	.last-section {
		margin-left: 13.5vw;
	}

	.card {
		width: 22.5vw;
	}
	.last-section span {
		font-size: 12px;
	}
	.img-container {
		width: 60%;
	}
	.promo-container {
		width: 45%;
		margin-left: 10vw;
	}

	.promo-container img {
		width: 60%;
		margin-left: 2vw;
	}
}

@media (max-width: 426px) {
	.mas-vendidos h3 {
		font-size: 16px;
	}

	.items-mas-vendidos {
		height: 100%;
	}
	.items-mas-vendidos .product {
		padding-right: 5px;
	}
	.detalle-producto {
		width: 100%;
	}

	.detalle-producto p {
		font-size: 10px;
	}

	.box-marcas {
		padding: 10px 18px;
		height: 9vh;
	}

	.marcas-banners h5 {
		font-size: 16px;
	}

	.box-promoBanners {
		padding: 5px;
	}

	.last-section-flex {
		flex-direction: column;
		align-items: center;
	}

	.last-section {
		width: 90%;
		margin-left: 0vw;
	}

	.card {
		margin-left: 4.5vw;
		justify-content: flex-start;
	}

	.img-container {
		width: 50%;
	}
	.last-section h3 {
		font-size: 14px;
		margin-left: 4.7vw;
	}
	.last-section span {
		font-size: 12px;
	}
	.promo-container {
		width: 45%;
		margin-left: 10vw;
	}

	.promo-container img {
		width: 80%;
	}

	.slider-frame {
		border: 3px solid #ff540a;
	}

	.items-categorias {
		flex-wrap: nowrap;
		flex-direction: row;
		position: relative;
		margin-right: 2vw;
	}

	.items-mas-vendidos .product img {
		height: 95%;
	}

	.categoria {
		width: 120%;
		margin: 5px auto;
	}

	.categoria p {
		font-size: 14px;
	}

	.left-list,
	.right-list {
		flex-direction: column;
		margin-top: 0;
	}
}
 */
