/* ------------------------------------------------------------------ */
.main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.main__div--max-width {
	max-width: 1555px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.main__section--flex {
	display: flex;
	flex-wrap: wrap;
}

/* ------------------------------------------------------------------ */
/*Slider*/
.main__slider {
	border-radius: 0px;
	overflow: hidden;
	width: 100%;
	/*height: calc(50vw);*/

	.slider--inner {
		display: flex;
		/*se le aumenta 100 dependiendo de las secciones hay 4 por ahora*/
		width: 400%;
		height: 90%;
		margin-left: -100%;
	}

	.img_sliderSection {
		width: 100%;
	}

	.slider--img {
		display: block;
		height: 100%;
		width: 100%;
		/* object-fit: cover; */
	}

	.img_sliderSection--min-with-1020 {
		display: none;
	}

	.slider-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 3em;
		background: #ff540a;
		color: #fff;
	}

	span.material-symbols-outlined {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
	}

	span.material-symbols-rounded {
		font-family: "Material Symbols Rounded";
		font-weight: normal;
		font-style: normal;
		font-size: 1.5em;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
	}

	.slider--btns {
		cursor: pointer;
		color: #ffd4c2;
	}

	.slider--btns:hover {
		color: white;
	}

	div#div__btn-pause-play {
		margin: 0px 15%;
	}
}

/* ------------------------------------------------------------------ */
/*cards*/
.main__container-cards {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 1.5em;

	.title-section {
		width: 100%;
		text-align: center;
		padding: 15px 0px;

		h3 {
			font-size: 1.4rem;
		}
	}

	.cards {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		scrollbar-width: none;
		scroll-behavior: smooth;

		.card-wrappers {
			position: absolute;
			top: 50%;
			width: 100%;
			display: flex;
			justify-content: space-between;

			span {
				background-color: #ff540a;
				font-size: 24px;
				border-radius: 50%;
				padding: 5px;
				color: white;
			}
		}
	}

	.card-outline {
		flex: 0 0 auto;
		margin: 0px 5px;
		border-radius: 7px;
		overflow: hidden;
		width: 30%;
		border: 1px solid #000;
		border-radius: 5px;
	}

	.card {
		width: 100%;
	}

	.img-product {
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #7a7c7d;
		width: 100%;
		/*height: 125px; ¿por qué estas medidas?*/
		/* 	height: 280px; */

		img {
			width: 100%;
			height: 100%;
		}
	}

	.product-info {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 7px;

		p {
			display: block;
			font-size: 0.8125rem;
		}

		.nameProduct {
			width: 100%;
			font-size: 0.8rem;
		}

		.qualification {
			width: 100%;
		}

		.price {
			display: flex;
			align-items: center;
			width: 100%;
			color: #ff540a;
		}
	}

	.form-qualification {
		display: flex;
		align-items: center;
		width: 61%;

		input[type="radio"] {
			display: none;
		}

		label:hover {
			cursor: pointer;
			color: #ff540a;
		}

		label:hover ~ label {
			color: #ff540a;
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.qualification {
			width: 80%;
			direction: rtl;
			unicode-bidi: bidi-override;
		}

		p {
			font-family: "Montserrat";
			font-size: 0.5rem;
			text-wrap: pretty;
		}
	}

	.btnsCards {
		display: none;
	}
}

/* ------------------------------------------------------------------ */
/*SERVICES BANNERS SECTION*/
.main__section-cards-prom {
	width: 100%;
	background-color: white;
	height: auto;
	display: flex;
	justify-content: center;

	.center_cards-prom {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		padding: 30px;
		border-radius: 8px;
	}

	.cardProm {
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
		}
	}
}

/* ------------------------------------------------------------------ */
/*SECTION BRANDS*/

.main__section-brands-slider {
	overflow: hidden;
	width: 100%;
	height: 115px;

	/*----- Contenedor logos -----*/

	.div__brands-box {
		width: 100%;
		height: 100%;
		margin: auto;
		white-space: nowrap;
		position: relative;
		border-radius: 8px 8px 0px 0px;
		background-color: black;
	}

	/*----- Efecto blur/fade en ambos extremos del contenedor -----*/

	.div__brands-box:before,
	.div__brands-box:after {
		position: absolute;
		top: 0;
		width: 120px;
		height: 100%;
		content: "";
		z-index: 2;
	}

	.div__brands-box:before {
		left: 0;
		border-radius: 5px;
		background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
	}

	.div__brands-box:after {
		right: 0;
		border-radius: 5px;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
	}

	/*----- Detener la animación -----*/

	.div__brands-box:hover .div__logos-slide {
		animation-play-state: paused;
	}

	/*----- Slider logos -----*/

	.div__logos-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		animation: slide 20s linear infinite;
		-webkit-animation: slide 20s linear infinite;
		width: calc(200px * 14);
		/* Para activar la animación infinita */
	}

	.a__content-image {
		width: 200px;
		height: 60px;
		margin: 0 40px;

		img {
			width: 100%;
			height: 100%;
		}

		img:hover {
			cursor: pointer;
			filter: drop-shadow(0 0 10px #ff530a);
		}
	}
}

/*----- Animación en el eje X (horizontal) -----*/

@keyframes slide {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	to {
		-webkit-transform: translateX(calc(-200px * 7));
		transform: translateX(calc(-200px * 7));
	}
}

/* ------------------------------------------------------------------ */
/*-----CATEGORIES-----*/
.main__content-categories {
	width: 100%;
	background-color: #fff;

	.dropdown-content-category_title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
	}

	.div__items-categories--grid {
		padding: 15px 15px 30px 15px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
		grid-gap: 15px;
	}

	.categoria {
		overflow: hidden;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover img {
			filter: brightness(0.9);
			transition: 500ms;
		}
	}

	.categoria a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.categoria p {
		display: block;
		background-color: rgba(0, 0, 0, 0.115);
		color: white;
		font-family: "Bebas Neue", sans-serif;
		font-size: 1.5em;
		position: absolute;
		align-items: center;
		z-index: 1;
	}

	.categoria img {
		filter: brightness(0.5);
	}

	.categories-button {
		display: flex;
		justify-content: center;
		margin-top: 1em;
		margin-bottom: 3em;

		button {
			font-family: "Montserrat";
			font-weight: bold;
			font-size: 10px;
			color: white;
			background-color: black;
			padding: 1rem 2rem;
			border-radius: 8px;
			border-style: hidden;
			cursor: pointer;
			transition-duration: 0.4s;

			&:hover {
				background-color: #ff540a;
			}
		}
	}
}

/* ------------------------------------------------------------------ */
/*PROM CONTAINER AND COMMENTS*/

.main__promo-container {
	border-radius: 8px;
	background: #fff;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.container-boxes {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
	}

	.box {
		width: 230px;
		max-height: 250px;
		overflow: hidden;

		picture {
			width: 30%;
			height: 55px;
			max-width: 200px;
			max-height: 360px;
		}
	}

	.box__title h2 {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 1rem;
	}

	.promo-container_cards {
		display: flex;
		flex-wrap: wrap;
		/* border: 2px red solid; */
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
		grid-gap: 30px;
	}

	#promo-container-three {
		max-height: 100px;
	}

	.card {
		display: flex;
		margin: 7px 0px;
		cursor: pointer;
		width: 100%;
		align-items: flex-start;

		&:hover {
			background: #e6e6e6;
		}
	}

	.img-product {
		border: 1px solid #000;
		border-radius: 4px;
		width: 10px;
		height: 10px;
	}

	.info-product {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		overflow: hidden;
		padding-left: 5px;
		width: 60%;
	}

	.info-product p {
		font-size: 0.7rem;
		font-weight: 600;
	}

	.price p {
		font-weight: 300;
	}

	.nameProduct {
		font-size: 0.8rem;
	}

	.form-qualification {
		display: flex;
		align-items: center;
		width: 100%;

		input[type="radio"] {
			display: none;
		}

		label:hover {
			cursor: pointer;
			color: #ff540a;
		}

		label:hover ~ label {
			color: #ff540a;
		}

		input[type="radio"]:checked ~ label {
			color: #ff540a;
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.qualification {
			direction: rtl;
			unicode-bidi: bidi-override;
		}

		p {
			font-size: 0.4rem;
		}
	}
}

/* ------------------------------------------------------------------ */
/*---MEDIA QUERIES---*/

/* @media screen and (min-width: 576px) {
	/*cards*
	.main__container-cards {
		.card-outline {
			width: 182px;
		}
	}
} */

@media screen and (min-width: 768px) {
	.main__section--margin-bottom {
		margin-bottom: 30px;
	}

	.main__section--bgColor {
		border-radius: 8px;
		background: #fff;
		box-shadow: -5px 5px 16px #949494, 5px -5px 16px #e4e4e4;
	}

	.mnw-768px--w-85 {
		width: 85%;
	}

	/*slider*/
	.main__slider {
		margin: 60px;
		/*height: 65vh;*/
		/*max-height: 400px;*/
	}

	.slider--inner {
		height: 90%;
	}

	.slider-buttons {
		height: 3em;
	}

	/*cards*/
	.main__container-cards {
		display: flex;
		flex-wrap: wrap;
		width: 85%;
		height: 430px;
		position: relative;
		padding-bottom: revert;

		.card-outline {
			margin: 0px 35px;
			width: 147px;
			height: 97%;

			&:hover {
				box-shadow: 0px 0px 8px 0px #554b4b69;
			}
		}

		.cards {
			padding-bottom: 20px;
		}

		/* .card {
			display: block;
			width: 100%;
			height: 100%;
		} */

		/* .img-product {
			width: 200px;
		} */

		/* .product-info {
			.qualification {
				width: 100%;
			}

			.price {
				width: 50%;
			}
		} */

		.form-qualification {
			width: 50%;
		}

		.form-qualification p {
			font-size: 0.1rem;
		}

		.btnsCards {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #e6e6e6;
			top: 50%;
			color: #ff540a;
			cursor: pointer;
			opacity: 0.3;

			/* para evitar que selexionen el texto */
			-webkit-user-select: none;
			/* Safari */
			-moz-user-select: none;
			/* Firefox */
			-ms-user-select: none;
			/* Internet Explorer */
			user-select: none;
			/* Standard syntax */

			&:hover {
				opacity: 1;
				border: 1px solid #000;
				box-shadow: 1px 0px 5px #737272;
			}

			span {
				font-size: 3rem;
				position: absolute;
			}
		}

		.btnLeft {
			left: 5px;

			span {
				left: -2%;
			}
		}

		.btnRight {
			right: 5px;

			span {
				right: -2%;
			}
		}
	}

	/*cads-prom*/
	.main__section-cards-prom {
		border-radius: 8px;

		.center_cards-prom {
			width: 100%;
			height: 100%;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.main__content-categories {
		background-color: #cac7ba;
	}
}

@media screen and (min-width: 1024px) {
	.cards-prom {
		.center_cards-prom {
			width: 85%;
			height: 200px;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.main__slider {
		.img_sliderSection--min-with-1020 {
			display: flex;
		}

		.img_sliderSection--min-with-768 {
			display: none;
		}
	}

	/*cards*/
	.main__container-cards {
		.card-outline {
			width: 220px;
		}
	}
}

@media screen and (min-width: 1200px) {
	/*CATEGORIES*/
	.main__content-categories {
		background-color: #cac7ba;
	}
	/*cards*/
	.main__container-cards {
		.card-outline {
			width: 202px;
		}
	}
}
