/* ------------------------------------------------------------------ */
.main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.main__div--max-width {
	max-width: 1555px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* ------------------------------------------------------------------ */
/*Slider*/
.main__slider {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;

	.slider--inner {
		display: flex;
		/*se le aumenta 100 dependiendo de las secciones hay 4 por ahora*/
		width: 400%;
		margin-left: -100%;
	}

	.img_sliderSection {
		width: 100%;
	}

	.slider--img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.img_sliderSection--min-with-1020 {
		display: none;
	}

	.slider-buttons {
		position: relative;
		width: 100%;
		height: 30px;
		background: #ff540a;
		color: #fff;
	}

	.slider--btns {
		position: absolute;
		cursor: pointer;
	}

	div#btn-left {
		left: 40%;
	}

	div#btn-rigth {
		right: 40%;
	}
}

/* ------------------------------------------------------------------ */
/*cards*/
.main__container-cards {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;

	.title-section {
		width: 100%;
		text-align: center;
		padding: 15px 0px;

		h3 {
			font-size: 1.4rem;
		}
	}

	.cards {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		scrollbar-width: none;
		scroll-behavior: smooth;

		.card-wrappers {
			position: absolute;
			top: 50%;
			width: 100%;
			display: flex;
			justify-content: space-between;

			span {
				background-color: #ff540a;
				font-size: 24px;
				border-radius: 50%;
				padding: 5px;
				color: white;
			}
		}
	}

	.card-outline {
		flex: 0 0 auto;
		margin: 0px 5px;
		border-radius: 7px;
		overflow: hidden;
		width: 110px;
	}

	.card {
		width: 100%;
	}

	.img-product {
		display: block;
		border: 1px solid #000;
		overflow: hidden;
		border-radius: 7px;
		width: 100%;
		height: 125px;
		/* 	height: 280px; */

		img {
			width: 100%;
			height: 100%;
		}
	}

	.product-info {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		p {
			display: block;
			font-size: 0.8125rem;
		}

		.nameProduct {
			width: 100%;
			font-size: 0.9rem;
		}

		.qualification {
			width: 100%;
		}

		.price {
			display: flex;
			align-items: center;
			width: 100%;
			color: #ff540a;
		}
	}

	.form-qualification {
		display: flex;
		align-items: center;
		width: 61%;

		input[type="radio"] {
			display: none;
		}

		label:hover {
			cursor: pointer;
			color: #ff540a;
		}

		label:hover ~ label {
			color: #ff540a;
		}

		input[type="radio"]:checked ~ label {
			color: #ff540a;
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.qualification {
			width: 80%;
			direction: rtl;
			unicode-bidi: bidi-override;
		}

		p {
			font-family: "Montserrat";
			font-size: 0.5rem;
			text-wrap: pretty;
		}
	}

	.btnsCards {
		display: none;
	}
}

/* ------------------------------------------------------------------ */
/*CARDS PROM*/
.main__cards-prom {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;

	.center_cards-prom {
		width: 100%;
		background: #fff;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		padding: 30px;
		border-radius: 8px;
	}

	.cardProm {
		background: #f8f8f8;
		border: 1px solid #000;
		border-radius: 15px;
		height: 115px;
		color: #ff540a;
		fill: #ff540a;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		h2 {
			color: #000;
			font-size: 1.5rem;
			height: 32px;
		}

		p {
			color: #000;
			font-size: 0.7rem;
		}

		a {
			color: #fff;
			height: 100%;
			width: 100%;
			font-size: 0.5rem;
		}
	}

	.card1 {
		h2 {
			font-size: 2rem;
		}
	}

	.picture-prom {
		margin-right: 10px;
		display: block;
		width: 60px;
		height: 60px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.box-black-click {
		background: #000;
	}

	.picture-prom span {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 4rem;
		position: absolute;
		left: -1%;
		top: -2%;
	}

	.picture-prom svg {
		width: 100%;
		height: 100%;

		g {
			width: 100%;
			height: 100%;
		}
	}

	.picture-prom.svg {
		width: 60px;
		height: 60px;
	}

	.border-orange {
		border: 4px solid #ff540a;
		border-radius: 4px;
		width: 100%;
		height: 100%;
	}
}

/* ------------------------------------------------------------------ */
/*-----SLIDER BRANDS-----*/
.main__slider-brands {
	border-radius: 18px;
	overflow: hidden;
	width: 100%;

	.box-brands {
		background: #000;
		display: flex;
		width: 200%;
		height: 170px;
		margin-left: -100%;
		position: relative;

		.brand {
			display: flex;
			width: 33%;
			justify-content: center;
			align-items: center;

			img {
				display: block;
				width: 60%;
				height: 60%;
			}
		}

		.brandsSection {
			width: 200%;
			display: flex;
		}

		.div__btn {
			position: absolute;
			top: 50%;
			width: 50px;
			height: 50px;

			span {
				color: #ff540a;
			}
		}

		.div__btn-left {
			left: 1px;
		}

		.div__btn-right {
			right: 10px;
		}

		&::-webkit-scrollbar {
			width: 7px;
		}
	}
}

/* ------------------------------------------------------------------ */
/*-----CATEGORIES-----*/
.main__content-categories {
	width: 100%;
	background: #fff;
	border-radius: 8px;

	.dropdown-content-category_title {
		width: 100%;
		display: flex;
		align-items: center;

		a {
			color: #ff540a;
			padding-left: 15px;
		}
	}

	.shop-by-category {
		width: 100%;
	}

	.items-categories {
		padding: 15px 15px 30px 15px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}

	.categoria {
		border: solid 2px white;
		border-radius: 8px;
		position: relative;

		&:hover img {
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
			border: #ff540a;
			transform: translateY(15px);
			transform: scale(1.1);
			transition: 0.5s;
		}
	}

	.categoria a {
		text-decoration: none;
	}

	.categoria img {
		width: 100%;
		border-radius: 8px;
		bottom: 0px;
		z-index: 2;
	}

	.categoria p {
		backdrop-filter: blur(2px);
		padding: 5px;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		font-family: "Bebas Neue", sans-serif;
		font-size: 18px;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover .fade-diagonal {
			color: #ff540a;
			/* .fade-diagonal {
				position: absolute;
				background: linear-gradient(to bottom right, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
				background-size: 200% 200%;
				animation: fadeDiagonal 4s linear infinite;
				z-index: 800;
			  } */
		}
	}
}

/* ------------------------------------------------------------------ */
/*PROM CONTAINER AND COMMENTS*/
.main__promo-container {
	border-radius: 8px;
	background: #fff;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;

	.container-boxes {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px;
		overflow: hidden;
	}

	.box {
		width: 35%;
		width: 100%;
		height: auto;
	}

	.box--magin-bottom {
		margin-bottom: 30px;
	}

	.box__title h2 {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 1rem;
	}

	.promo-container_cards {
		display: flex;
		flex-wrap: wrap;
		overflow-y: scroll;
		height: 350px;
	}

	.card {
		display: flex;
		margin: 7px 0px;
		cursor: pointer;
		width: 100%;
		align-items: flex-start;

		&:hover {
			background: #e6e6e6;
		}
	}

	.img-product {
		border: 1px solid #000;
		border-radius: 4px;
		width: 53px;
		height: 70px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.info-product {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		overflow: hidden;
		padding-left: 5px;
		width: 60%;
	}

	.info-product p {
		font-size: 0.7rem;
		font-weight: 600;
	}
	.price p {
		font-weight: 300;
	}

	.nameProduct {
		font-size: 0.9rem;
	}

	.form-qualification {
		display: flex;
		align-items: center;
		width: 100%;

		input[type="radio"] {
			display: none;
		}

		label:hover {
			cursor: pointer;
			color: #ff540a;
		}

		label:hover ~ label {
			color: #ff540a;
		}

		input[type="radio"]:checked ~ label {
			color: #ff540a;
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.qualification {
			direction: rtl;
			unicode-bidi: bidi-override;
		}

		p {
			font-size: 0.4rem;
		}
	}

	.aside_prom-baner {
		picture {
			width: 30%;
			height: 100%;
			max-width: 200px;
			max-height: 360px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

/* ------------------------------------------------------------------ */
/*---MEDIA QUERIES---*/
@media screen and (max-width: 425px) {
	.main__content-categories {
		.items-categories {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

@media screen and (min-width: 768px) {
	.main__section--margin-bottom {
		margin-bottom: 30px;
	}

	/*slider*/
	.main__slider {
		margin: 60px;
		width: 85%;

		.slider--inner {
			height: 400px;
		}

		.slider-buttons {
			height: 50px;
		}
	}

	/*cards*/
	.main__container-cards {
		display: flex;
		flex-wrap: wrap;
		width: 85%;
		max-height: 400px;
		position: relative;

		.card-outline {
			margin: 0px 35px;
			width: 200px;
			height: 97%;

			&:hover {
				box-shadow: 0px 0px 8px 0px #554b4b69;
			}
		}

		.card {
			display: block;
			width: 100%;
			height: 100%;
		}

		.img-product {
			width: 200px;
			height: 280px;
		}

		.product-info {
			.qualification {
				width: 100%;
			}

			.price {
				width: 50%;
			}
		}

		.form-qualification {
			width: 50%;
		}

		.form-qualification p {
			font-size: 0.1rem;
		}

		.btnsCards {
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #e6e6e6;
			top: 50%;
			color: #ff540a;
			cursor: pointer;
			opacity: 0.3;

			&:hover {
				opacity: 1;
				border: 1px solid #000;
				box-shadow: 1px 0px 5px #737272;
			}

			span {
				font-size: 3rem;
				position: absolute;
			}
		}

		.btnLeft {
			left: 5px;

			span {
				left: -2%;
			}
		}

		.btnRight {
			right: 5px;

			span {
				right: -2%;
			}
		}
	}

	/*cads-prom*/
	.main__cards-prom {
		.center_cards-prom {
			width: 85%;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	/* ------------------------------------------------------------------ */
	/*SECTION BRANDS*/
	.main__slider-brands {
		width: 85%;
	}

	/* ------------------------------------------------------------------ */
	/*CATEGORIES*/
	.main__content-categories {
		width: 85%;

		.items-categories {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	/* Promo and comments */

	.main__promo-container {
		width: 85%;
		flex-wrap: nowrap;
		height: 13%;
		.container-boxes {
			width: 80%;
			flex-wrap: nowrap;
		}

		.promo-container_cards::-webkit-scrollbar {
			width: 30px;
		}
	}
}

@media screen and (min-width: 1020px) {
	.cards-prom {
		.center_cards-prom {
			width: 85%;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.main__slider {
		.img_sliderSection--min-with-1020 {
			display: flex;
		}
	}

	.img_sliderSection--min-with-768 {
		display: none;
	}
}
