.main__listUser{
    max-width: 1440px;
    margin: auto;
}

.title-of-page{
    display: flex;
    justify-content: center ;
}

.users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user_card{
    display: flex;
    width: 35%;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid #000;
    align-items: center;
    overflow: hidden;

}

.img{

    width: 50%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }
}

.infoUser{
    width: 50%;
}