.main__listUser {
	max-width: 1555px;
	margin: auto;
}

.title-of-page {
	display: flex;
	justify-content: center;
}

.users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.user-card {
	width: 35%;
	margin-bottom: 50px;
	transition-duration: 0.5s;
	border-radius: 10px;

	a {
		width: 100%;
		height: 100%;
		color: #000;
	}

	.a-user_card {
		border: 2px solid #000;
		border-radius: 10px;
		overflow: hidden;
		width: 100%;
		height: 90%;
		display: flex;
		align-items: center;

		&:hover {
			background: #ffd4c2;
			scale: 1.1;
		}
	}
}

.img {
	width: 50%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
	}
}

.infoUser {
	width: 50%;
}
