/*===============================================================================================================*/
header{
    height: 8vh;

    .header-inferior{
        display: none;
    }
}
/* LOGIN */
.main-login {
	background: #000;
}

.main-login_section {
	display: flex; /* para separar el titulo del form */
	flex-wrap: wrap;
	width: 100%;
	height: 80vh;
}

.main-login_title {
	width: 100%;
	text-align: center;
	color: #ff540a;
	font-family: "Bebas Neue";
	margin: auto;
}

.main-login_form {
	display: flex;
	margin: 0px auto;
	width: 90%;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 6px;
	background: #e6e6e6;
}

.main-login_form_box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #000;
	width: 100%;
}

.main-login-form-box-container_title {
	color: #ff540a;

    h2{
        font-size: 25px;
    }
}

.one-login {
	display: flex;
	background: #fff;
	margin: 15px 10px 0px 10px;
	border-radius: 10px 10px 11% 11%;
	flex-direction: column;
	justify-content: space-evenly;
}

.one-login .mail {
	width: 100%;
}

.one-login .password {
	width: 100%;
}

.main-login_form .input {
	display: flex;
	justify-content: center;
}

.fieldset{
     position: relative;
     width: 100%;

    .fa-onda.fa-logo {
        width: 18px;
        position: absolute;
        left: 12%;
        top: 1px;
    }
}

.one-login .fieldset input {
	font-weight: 400;
	font-size: 11px;
	font-family: "Montserrat";
	text-rendering: auto;
	color: fieldtext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 16px;
	text-shadow: none;
	display: inline-block /* flex */;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	cursor: auto;
	padding: 1px 0px;
	border: none;
	border-image: initial;
	border-bottom: 2px inset #ff540a;
	padding-block: 2px;
	padding-inline: 5px;
	width: 80%;
	outline: none;
	transition: 500ms;

	&:focus {
		background-color: #f5c5b3;
		border-bottom: 2px inset #f5c5b3;
		border-radius: 4px;
	}
}

.one-login label {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;

	/* padding-left: 45px; */
}

.two-login {
	align-content: flex-start;
}

.two-login .paragraph {
	background: #fff;
	width: 70%;
	border-radius: 0px 0px 15px 15px;
}

.two-login .paragraph p {
	text-align: center;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
}

.a-crear-cuenta {
	text-align: center;
}

.two-login .paragraph a {
	font-family: "Montserrat";
	color: #ff540a;
	font-size: 16px;

	margin: 0px auto;
}

.one-login .button {
	width: 100%;
	text-align: center;

	input {
		border: none;
		background: #ff540a;
		color: #fff;
		height: 30px;
		width: 100px;

		font-family: "Montserrat";
		font-size: 14px;
		font-weight: 400;
	}
}

.two-login .button {
	display: none;
}
/*----------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
	.main-login_form {
		width: 70%;
		height: 50%;
		position: relative;
	}

	.main-login_form_box-container {
		width: 50%;
		align-items: center;
		flex-wrap: wrap;
	}

	.one-login {
		top: auto;
		border-radius: 15px;
		position: absolute;
		flex-wrap: wrap;
		height: 120%;
		left: 15px;
		margin: 0px;
	}

	.one-login .label {
		width: 100%;
	}

	.one-login .fieldset input {
		font-size: 12px;
		/* width: 70%; */
	}

	.two-login {
		height: 100%;
		position: absolute;
		right: 1px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 47%;
	}

	.two-login .paragraph {
		background: none;
		margin-bottom: 10px;
	}

	.two-login .paragraph p {
		background: none;
		font-size: 15px;
	}

	.two-login .paragraph a {
		display: none;
	}

	.two-login .button {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;

		& input {
			border: none;
			background: #ff540a;
			color: #fff;
			height: 30px;
			width: 100px;

			font-family: "Montserrat";
			font-size: 14px;
			font-weight: 400;
		}
	}
}

@media screen and (min-width: 1024px) {
	.main-login_form {
		width: 60%;
		height: 50%;
		position: relative;
	}

	.one-login .fieldset input {
		font-size: 14px;
		width: 77%;
	}
}
/*----------------------------------------------------------------------------------------------------------------*/

/*================================================================================================================*/

/*Register */

/*================================================================================================================*/
