/* form{
  border: solid 2px #f00;
}

section {
  border: solid 1px #0f0;
}

div {
  
  border: solid 1px #00f;
} */

/*===============================================================================================================*/

/* LOGIN */

.main-login{
    display: flex; /* para separar el titulo del form */
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: #000;    
}

.main-login_title{
    width: 100%;
    text-align: center;
    color: #ff540a;
    font-family: 'Bebas Neue';
    margin:auto;

}

.main-login_form{
    display: flex;
    margin: 0px auto;
    width: 90%;
    height: 70%;
    flex-wrap: wrap;
    border-radius: 6px;
    background: #e6e6e6;
  }
  
  
  .main-login_form_box-container{
    color: #000;
    width: 100%;
    height: 50%;
  }

/*----------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  .main-login_form{
    width: 70%;
    height: 50%;
    position: relative;
  }

  .main-login_form_box-container{
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .one{
    position: absolute;
    display: flex;
    border-radius: 15px;
    height: 50vh;
    background: #fff;
    left: 15px;
    box-shadow: 0 0 10 #000;
  }

  .two{
   text-align: center;
   
  }
}

/*================================================================================================================*/

/*Register */


.contenedor {
  padding: 16px;
  font-family: 'Montserrat Bold';
  font-size: 20px;
  background-color:white;
}

   .subTitleRegister {
    background-color: #000;
    text-align: center;
    font-family: 'Montserrat Bold';
    font-weight:900;
    color: white;
   }


   .mainTitleRegister {
    background-color: #000;
    text-align: center;
    font-family: 'bebas neue';
    font-weight:900;
    color: white;
   }


.contenedor input[type=text],
.contenedor [type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
  
}

.contenedor input[type=text]:focus,
.contenedor input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}


.contenedor hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerboton {
  background-color: #ff540a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  font-family: 'Montserrat Bold';
  font-size: 30px;
  
}

.registerboton:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: black;
  text-align: center;
  font-family: 'Bebas Neue';
  color: white;
}

.bottomRegister {
    background-color: white;
    text-align: center;
    font-family: 'Montserrat Bold';
    font-weight:900;
    color: black;
   }


.alignForm {
    background-color: white;
    text-align: center;
    font-family: 'Montserrat Bold';
    color:#ff540a;
    font-size: 30px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
/*================================================================================================================*/