* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}


.seccion-contenedora {
    display: flex;
    background-color: #B7B3A1;

}

.seccion-principal {
    width: 75vw;

}

.seccion-secundaria {
    width: 25vw;

}

.carrito,
.favoritos {
    background-color: #FF540A;
    /* background: linear-gradient(135deg, hsla(342, 100%, 88%, 1) 0%, hsla(0, 84%, 76%, 1) 17%, hsla(18, 100%, 52%, 1) 71%); */
    border: 5px solid white;
    border-radius: 18px;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 25px 25px 10px gray;
    margin-bottom: 2rem;

}

.carrito h1,
.favoritos h1 {
    text-align: center;
    font-size: 25px;

}

.desplegable {
    display: none;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    max-height: 39.5rem;
}


.card {
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;
    border-radius: 25px;
    margin: 0.5rem;
    height: 10rem;
    position: sticky;
}

.card img {
    width: 25%;
    margin: 10px;
}

.nombre-marca {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre-marca h2 {
    width: 100%;
    height: 50%;

}

.card input {
    display: flex;
    margin: 0.5rem;
}

.precio-descuento {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.precio-descuento span {
    font-size: 25px;
    margin: 20px;

}

.delete-card {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

}

.ordenador-container {
    display: none;

}

.ordenador {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.labels-ordenador {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
}

.descripcion-card {
    display: flex;
    background-color: #ebebeb;
    justify-content: space-around;
    border: 1px solid black;
    height: 35px;

}

.pie i {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 45px;

}

/* ----------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */


.pago-total {
    display: flex;
    background-color: #FF540A;
    /* background: linear-gradient(135deg, hsla(342, 100%, 88%, 1) 0%, hsla(0, 84%, 76%, 1) 17%, hsla(18, 100%, 52%, 1) 71%); */
    align-items: center;
    flex-direction: column;
    height: 15rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 18px;
    justify-content: space-evenly;
    box-shadow: 25px 25px 10px gray;

}

.pago-total span {
    font-size: 45px;

}

.pago-total input {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */
.titulo-desplegable-pago-total {
    color: white;
    background: black;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.descripcion-pago-total {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    max-height: 20rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border: 17px solid black;
    border-radius: 13%;
    box-shadow: 25px 25px 10px gray;
    overflow-y: scroll;
}

.separador-izquierda {
    display: flex;
    width: 30%;
    justify-content: center;
    margin-top: 1rem;

}

.separador-medio {
    display: flex;
    width: 30%;
    justify-content: center;
    margin-top: 1rem;

}

.separador-derecha {
    display: flex;
    width: 30%;
    justify-content: center;
    margin-top: 1rem;

}

/* ----------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */

.metodos-pago {
    display: flex;
    background-color: black;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 25px 25px 10px gray;
}

.titulo-metodos-pago {
    display: flex;
    color: white;
    justify-content: center;
}

.seccion-metodos-pago {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.seccion-metodos-pago i {
    width: 25%;
    color: white;
    font-size: 30px;
    margin: 1rem;

}

/* ----------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */

.titulo-seccion {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

}

.carruseles-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.separador {
    width: 100vw;
    height: 25px;
    background-color: gray;

}

.separador-externo {
    width: 100vw;
    height: 25px;
    background-color: #FF540A;
}

.seccion-carrusel {
    padding: 1.5rem;
    background-color: #B7B3A1;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.corredor {
    border-radius: 15px;
    padding: 1.5rem;
    width: 60rem;
    background-color: lightgray;
    border: 5px solid white;
    /* flex-properties */
    display: flex;
    overflow-x: scroll;
    align-items: center;

}

.image-related {
    display: flex;
    margin: 0.5rem;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.image-related img {
    height: 200px;
    margin: 0.2rem;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */
/* animaciones */
.favoritos {
    display: none;
    /* animacion con js dissapear (alternar) entre el favoritos y el carrito */

}

.card:hover {
    background-color: #f7f7f7;
    transform: scale(0.95);
    border: 5px solid white;
    border-radius: 10px;
}

/* media queeries para pc */
@media (min-width:1024px) {

    .carrito:hover .desplegable,
    .carrito:hover .ordenador-container,
    .favoritos:hover .desplegable,
    .favoritos:hover .ordenador-container {
        display: flex;

    }

    .card {
        border-radius: 0;
        margin: 5px;

    }

    .delete-card {
        color: #ebebeb;
        border: none;
        border-radius: none;
    }

    .card:hover .delete-card {
        color: black;
        transition: 7s;
        border: 2px solid black;
        border-radius: 15px;
    }

}

/* MEDIA QUERIES PARA TABLET */

@media(max-width:1024px) {

    .carrito .desplegable,
    .carrito .ordenador-container,
    .favoritos .desplegable,
    .favoritos .ordenador-container {
        display: flex;

    }


}

/* MEDIA QUERIES PARA TELEFONO */
@media(max-width:750px) {
    .seccion-contenedora {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-principal {
        width: 90vw;

    }

    .seccion-secundaria {
        width: 60vw;

    }

}

/* elimina las barras de los inputs-type:number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}