/* ETIQUETAS UNIVERSALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}


/* ETIQUETAS DEL BODY */



/* ETIQUETAS DE TEXTO */


h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 21px;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/*p {
    font-family: 'Montserrat';
    font-size: 18px;
}*/
