/*===============================================================================================================*/
header {
	position: static;

	animation: stiky-efect 1s linear infinite;

	.header-superior {
		animation: of-hed-up 1s linear infinite;
	}

	.headerBottom {
		display: none;
	}
}

/* LOGIN */
.main-login {
	background: #000;
}

.main-login_section {
	display: flex; /* para separar el titulo del form */
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
}

.main-login_title {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #ff540a;
	margin: auto;
	height: 10%;

	h1 {
		font-size: 30px;
	}
}

.main-login_form {
	margin: 0px auto;
	width: 311px;
	flex-wrap: wrap;
	border-radius: 6px;
}

.main-login_form_box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #000;
	width: 100%;
}

.main-login-form-box-container_title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff540a;

	h2 {
		font-size: 25px;
	}
}

.one-login {
	display: flex;
	background: #fff;
	border-radius: 10px 10px 11% 11%;
	flex-direction: column;
	justify-content: space-evenly;
	height: 360px;
	width: 100%;
}

.one-login .mail {
	width: 100%;
}

.one-login .password {
	width: 100%;
}

.main-login_form .input {
	display: flex;
	justify-content: center;
}

.fieldset {
	position: relative;
	width: 100%;

	.fa-onda.fa-logo {
		width: 18px;
		position: absolute;
		left: 10%;
		top: 1px;

		img {
			width: 100%;
		}
	}
}

.one-login .fieldset input {
	font-weight: 400;
	font-size: 11px;
	font-family: "Montserrat";
	text-rendering: auto;
	color: fieldtext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 16px;
	text-shadow: none;
	display: inline-block /* flex */;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	cursor: auto;
	padding: 1px 0px;
	border: none;
	border-image: initial;
	border-bottom: 2px inset #ff540a;
	padding-block: 2px;
	padding-inline: 5px;
	width: 80%;
	outline: none;
	transition: 500ms;

	&:focus {
		background-color: #f5c5b3;
		border-bottom: 2px inset #f5c5b3;
		border-radius: 4px;
	}
}

.one-login label {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;

	/* padding-left: 45px; */
}

.two-login {
	align-content: flex-start;
}

.two-login .paragraph {
	display: flex;
	background: #fff;
	width: 70%;
	border-radius: 0px 0px 15px 15px;

	.img-link-soundBox {
		width: 25%;

		a img {
			width: 100%;
		}
	}

	.text {
		width: 85%;
	}
}

.two-login .paragraph p {
	text-align: center;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
}

.a-crear-cuenta {
	text-align: center;
}

.two-login .paragraph a {
	font-family: "Montserrat";
	color: #ff540a;
	font-size: 16px;

	margin: 0px auto;
}

.contLink {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.div_remember {
	display: flex;
	flex-direction: row;
	align-items: center;

	&:hover {
		color: #ff540a;
	}
}

label#label_checkBox {
	font-size: 2px;
	cursor: pointer;
}

input#remember {
	display: none;

	&:checked ~ span {
		box-shadow: 0px 0px 5px 0px #ff540a;
	}
}

span#check {
	display: inline-block;
	position: relative;
	height: 18px;
	width: 18px;
	background: none;
	border: 1px solid #000;
	border-radius: 3px;
	transition-duration: all 0.7s;

	&:after {
		content: " ";
		position: absolute;
		border: solid #ff540a;
		border-width: 0 0.2em 0.2em 0;
		transform: rotate(45deg);
		width: 0.25em;
		height: 0.55em;
		left: 0.4em;
		top: 0.1em;
		opacity: 0;
		transition: 0.3s ease;
	}
}

label#label_checkBox input#remember:checked ~ span#check {
	&:after {
		opacity: 1;
	}
}

label {
	.remember {
		margin-left: 5px;
		&:hover {
			cursor: pointer;
		}
	}
}

.div_I-forgot-my-password a {
	color: #000;

	&:hover {
		color: #ff540a;
	}
}

.one-login .button {
	width: 100%;
	text-align: center;

	input {
		border: none;
		background: #ff540a;
		color: #fff;
		height: 30px;
		width: 100px;

		font-family: "Montserrat";
		font-size: 14px;
		font-weight: 400;

		&:hover {
			cursor: pointer;
			background: #550c18;
		}
	}
}

.two-login .button {
	display: none;
}

.error {
	color: white;
	background-color: lightcoral;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
	body {
		overflow: auto;
	}

	.main-login_form {
		width: 80%;
		height: 325px;
		position: relative;
		background: #e6e6e6;
		align-items: center;
		display: flex;
		margin: 30px 84px;
	}

	.main-login_form_box-container {
		width: 50%;
		align-items: center;
		flex-wrap: wrap;
	}

	.one-login {
		top: auto;
		border-radius: 15px;
		position: absolute;
		flex-wrap: wrap;
		height: 390px;
		left: 15px;
	}

	.one-login .label {
		width: 100%;
	}

	.one-login .fieldset input {
		font-size: 12px;
		/* width: 70%; */
	}

	.two-login {
		height: 100%;
		position: absolute;
		right: 1px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 47%;
	}

	.two-login .paragraph {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: none;
		margin-bottom: 10px;

		.img-link-soundBox {
			width: 50%;

			a img {
				width: 100%;
			}
		}

		.text {
			width: 100%;
		}
	}

	.two-login .paragraph p {
		background: none;
		font-size: 15px;
	}

	.two-login .paragraph .a-crear-cuenta {
		display: none;
	}

	.two-login .button {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;

		input {
			border: none;
			background: #ff540a;
			color: #fff;
			height: 30px;
			width: 100px;

			font-family: "Montserrat";
			font-size: 14px;
			font-weight: 400;

			&:hover {
				cursor: pointer;
				background: #550c18;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.main-login_form {
		width: 70%;
		height: 360px;
		margin: 30px auto;
		max-width: 1000px;
	}

	.one-login {
		height: 420px;
	}
}
