/* ETIQUETAS UNIVERSALES */
* {
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	min-width: 0;

	/* se lo aplique al scroll de todas las vistas si quieren ver cambios sobre alguna sona especifica en su vista entoncen pongan estas propiedades y modifiquenlas como quieran en la vista necesaria, se modifica segun que tenga la propiedad de overflow*/
	scrollbar-color: #ff540a #0000; /* el primer color seria el de la barra el segundo el fondo de la barra  */
	scrollbar-width: thin; /* con esta propiedad manejamos el ancho de la barra tenemos tres propiedades thin, auto y none */
	&::-webkit-scrollbar {
		width: 7px;
	}
}

html {
	scroll-behavior: smooth;
}

/* ETIQUETAS DEL BODY */

body {
	min-height: 100dvh;
	font-family: "Montserrat", sans-serif;
	font-size: 0.875rem;
	background: #e6e6e6;
	background: #fff;
}

ul {
	list-style-type: none;
}

/* ETIQUETAS DE TEXTO */

h1,h2,h3,h4,h5,h6 {
	text-wrap: balance;
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-size: 3rem;
}

h2 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.75rem;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}

h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.3125rem;
}

h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	text-wrap: pretty;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #000;
}
