body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.ordenador {
    width: 10vw;
    background-color: #FF540A;
    position: absolute;
}

.titulo-ordenador {
    font-size: 20px;
    color: white;
    margin-left: 1.2vw;
    margin-top: 0.2vw;
    position: fixed;
}

.filtrar-plata {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
}

.primer-seccion {
    margin: 1rem;
    padding: 0.5rem;

}

.segunda-seccion {
    margin: 1rem;
    padding: 0.5rem;
}

.tercer-seccion {
    margin: 1rem;
    padding: 0.5rem;

}

.cuarta-seccion {
    margin: 1rem;
    padding: 0.5rem;

}

.titulo-filtros {
    display: flex;
    justify-content: center;

}

.populares-1 {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.seccion-general {
    width: 100vw;
    background-color: #B7B3A1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.barra-titulo{
    display: flex;
    width: 100vw;
    background-color: black;
    height: 7vh;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    height: 7vh;
    margin-left: 40vw;
    margin-top: 1vh;
} 

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 14rem;
    background-color: white;
    height: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.imagen-producto {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;

}

.descripcion-producto {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descuento {
    color: green;

}

/* animaciones */

.dropdown-ordenador {
    display: none;

}

.ordenador:hover {
    width: 30vw;
    border-radius: 0px 25px 25px 0px;
    transition: 0.5s;
}

.ordenador:hover .dropdown-ordenador {
    display: flex;
    flex-direction: column;
}

.ordenador:hover .titulo-ordenador {
    margin-left: 1rem;
    position: sticky;
    color: black;
}


/* media queryes */
/* animaciones carta*/
@media (max-width:1024px) {
    .card {
        width: 45%;

    }

    .card:hover .desplegable {

        color: rgb(22, 15, 15);
        transform: scale(0.95);
        transition: 1s;

    }

    .href-padding {
        width: 90%;

    }
}

@media (max-width:769px) {
    .card {
        width: 45%;

    }

}

@media (max-width:500px) {
    .card {
        width: 90%;

    }

}

.container-producto {
    width: 12vw;
    margin-right: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.container-producto img {
    width: 12vw;
    margin: auto;
    border: solid 1px black;
    border-radius: 4px;
}

.detalle-producto p {
    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 5px;

}

a:link, 
a:visited,
a:hover,
a:active{
    color: black;
}