body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	margin: auto;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ordenador {

	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	position: fixed;
	bottom: 0px;
	left: 1px;
	z-index: 999;
	border-radius: 18px;
}

.titulo-ordenador {
	font-size: 22px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 18px;
	border: 2px solid white;
	padding: 15px;
	position: absolute;
	left: 0;
	color: white;
	text-align: center;

}

/* animacion de javascript*/

@keyframes titleAnimation {
	0% {
		display: flex;
		background-color: rgba(0, 0, 0, 0.4);
		width: auto;
		left: 0%;
		opacity: 100%;
	}

	25% {
		background-color: rgba(0, 0, 0, 0.4);
		width: auto;

		left: 25%;
		opacity: 100%;
	}

	75% {
		width: auto;

		background-color: rgba(0, 0, 0, 0.4);
		left: 75%;
		opacity: 15%;
	}

	100% {
		width: auto;
		display: flex;
		left: 100%;
		opacity: 0;
	}
}

@keyframes dropdownOrdenadorAnimation {
	0% {}

	25% {}

	75% {}

	100% {
		height: 0;
		opacity: 0;
	}
}

@keyframes dropdownTituloAnimation {
	0% {
		opacity: 0;

	}

	25% {}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.closeDropDown {
	width: 60vh;
	display: none;
	justify-content: space-around;
    align-items: center;
	position: fixed;
	top: 0vh;
	left: 0;
	background: rgba(0, 0, 0, 0.305);
	z-index: 1001;
	border-radius: 18px;
	border: 3px solid white;
    text-shadow: #ff540a 0 2px 0px;
	animation: 2s dropdownTituloAnimation ease;


	span {
		
		color: white;
		font-size: 25px

	}

	p {
		color: white;
		padding: 5px;
		font-size: 50px;
	}
}

.filtro-presupuesto {
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		width: 80%;
	}
}

.filtrar-plata {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 0.5rem;
}

#slide-item {
	flex: auto 1 0;
}

.primer-seccion {
	margin: 1rem;
	padding: 0.5rem;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.segunda-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.tercer-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.cuarta-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.titulo-filtros {
	display: flex;
	justify-content: center;
}

.populares-1 {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.seccion-general {
	width: 100vw;
	margin-top: 7.5rem;
	padding-top: 20px;
}

.barra-titulo {
	box-shadow: inset 0px 0px 20px 0px whitesmoke;
	position: fixed;
	border-radius: 18px;
	width: 85vw;
	background-color: #ff540a;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.titulo {
	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	text-shadow: 0px 1.7px 0px black;
	color: white;

}

.descripcion-producto {
	display: flex;
	width: 90%;
	height: auto;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

.descuento {
	color: green;
}

/* animaciones */

.dropdown-ordenador {
	display: none;
	flex-wrap: nowrap;
	overflow-y: scroll;
	flex-direction: column;
	backdrop-filter: blur(15px);
	animation: 2s dropdownOrdenadorAnimation ease;
}

@keyframes dropdownOrdenadorAnimation {
0% {
	height: 0vh;
	opacity: 0;
	backdrop-filter: blur(0px);
	top: 0;

}
25% {
}
50% {
}
75% {
}
100% {
	top: 0;
	backdrop-filter: blur(15px);
	opacity: 1;
	height: 90vh;
}
}


/*tageta add*/

.img_card-add {
	#add-icon {
		font-size: 100px;
		color: #fff;
	}
}

/* animaciones carta*/

.todasLasCards {

	width: 90%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

/* la verdadera card */
.container-producto {
	margin: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container-producto img {
	width: 12vw;
	margin: auto;
	border: solid 1px black;
	border-radius: 4px;
}

.detalle-producto p {
	font-family: "Montserrat";
	font-size: 14px;
	padding-left: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
	color: black;
}

/****************************/
/*      media queryes */
/****************************/

@media (min-width: 1024px) {
	.closeDropDown {
		width: 53vh;
	}
}

@media (max-width: 4000px) {
	.todasLasCards {
		margin: auto;
		width: 85%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}

	.card .face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: 10px;
		overflow: hidden;
		transition: 0.5s;
	}

	.card .front {
		transform: perspective(600px) rotateY(0deg);
		box-shadow: 0 5px 10px black;
	}

	.card .front img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card .front h3 {
		width: 100%;
		position: absolute;
		bottom: 0;
		line-height: 45px;
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
		text-align: center;
	}

	.card .back {
		transform: perspective(600px) rotateY(180deg);
		background-color: #ff540a;
		padding: 15px;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		border: 2px solid black;

		.face-back-child {
			height: 100%;
			background-color: whitesmoke;

		}
	}

	.card .back h3 {
		font-size: 14px;
		letter-spacing: 2px;
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
		border: 2px solid black;
		border-radius: 8px;
		padding: 8px;
	}

	.card .back p {
		letter-spacing: 1px;
	}

	.marca-descripcion {
		color: black;
	}

	.price {
		color: green;
		font-size: 25px;
	}

	.card:hover .front {
		transform: perspective(600px) rotateY(180deg);
	}

	.card:hover {
		transform: scale(1.1);
	}

	.card:hover .back {
		transform: perspective(600px) rotateY(360deg);
	}

	.card {
		position: relative;
		width: 200px;
		height: 275px;
	}

	.href-padding {
		width: 90%;
	}
}

@media (max-width: 1024px) {



	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}
}

@media (max-width: 768px) {
	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 30px;
	}
}

@media (max-width: 645px) {

	.todasLasCards {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);

	}



}

@media (max-width: 425px) {
	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}



}