
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	margin: auto;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ordenador {
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	position: fixed;
	top: 0px;
	left: 1px;
	z-index: 999;
	border-radius: 18px;
}

.titulo-ordenador {
	font-size: 22px;
	background-color: rgba(0, 0, 0, 0.4);
    border-radius: 18px;
	border: 2px solid white;
	padding: 15px;
	position: fixed;
	top: 26.9vh;
	color: white;

}

.filtro-presupuesto {
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		width: 80%;
	}
}

.filtrar-plata {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 0.5rem;
}
#slide-item {
	flex: auto 1 0 ;
}
.primer-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.segunda-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.tercer-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.cuarta-seccion {
	margin: 1rem;
	padding: 0.5rem;
}

.titulo-filtros {
	display: flex;
	justify-content: center;
}

.populares-1 {
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.seccion-general {
	width: 100vw;
	margin-top: 50px;
	padding-top: 20px;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.barra-titulo {
    box-shadow: 18px 48px 100px -13px black;
    position: absolute;
    border-radius: 18px;
    width: 85vw;
    background-color: #ff540a;
    height: 3.5rem;
    display: flex;
    justify-content: center;
	align-items: center;
}

.titulo {
	font-family: "Montserrat", sans-serif;
	font-size: 26px;

}

.descripcion-producto {
	display: flex;
	width: 90%;
	height: auto;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

.descuento {
	color: green;
}

/* animaciones */

.dropdown-ordenador {
	display: none;
}

.ordenador:hover {
	width: 35vw;
	backdrop-filter: blur(25px);
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.ordenador:hover .dropdown-ordenador {
	display: flex;
    height: 100vh;
    flex-wrap: nowrap;
    overflow-y: scroll;
    flex-direction: column;
}


.ordenador:hover .titulo-ordenador {
	align-self: center;
	width: 100px;
	margin-top: 15px;
	border: 0;
	background-color: #ff540a;
	position: sticky;
	top: 0px;
	font-size: 24px;
	border: 2px solid black;
	transition: all .7s ease;
}

@keyframes titleAnimation {
	0% {
		transform: translateX(-40%);
		margin-left: 0;
		opacity: 100%;
	}

	25% {
		opacity: 50%;
	}

	50% {
		transform: translateX(50%);
		opacity: 25%;
	}

	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

/*tageta add*/

.img_card-add {
	#add-icon {
		font-size: 100px;
		color: #fff;
	}
}

/* animaciones carta*/

.todasLasCards {

	width: 90%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

/* la verdadera card */
.container-producto {
	margin: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container-producto img {
	width: 12vw;
	margin: auto;
	border: solid 1px black;
	border-radius: 4px;
}

.detalle-producto p {
	font-family: "Montserrat";
	font-size: 14px;
	padding-left: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
	color: black;
}

/****************************/
/*      media queryes */
/****************************/

@media (max-width: 4000px) {
	.todasLasCards {
		margin: auto;
		width: 85%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}

	.cardPlusIcon {
		color: #008000ab;
		transform: translateX(-5px);
		text-align: center;
		justify-content: center;
		width: 100%;
		font-size: 175px;
		position: absolute;
		z-index: 999;
		/* luego quiero eliminar 
        la foto del Sounbox y dejar 
        solo el texto con el más arriba */
	}

	.card .face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: 10px;
		overflow: hidden;
		transition: 0.5s;
	}

	.card .front {
		transform: perspective(600px) rotateY(0deg);
		box-shadow: 0 5px 10px black;
	}

	.card .front img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card .front h3 {
		width: 100%;
		position: absolute;
		bottom: 0;
		line-height: 45px;
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
		text-align: center;
	}

	.card .back {
		transform: perspective(600px) rotateY(180deg);
		background-color: #ff540a;
		padding: 15px;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		border: 2px solid black;

		.face-back-child {
			height: 100%;
			background-color: whitesmoke;

		}
	}

	.card .back h3 {
		font-size: 14px;
		letter-spacing: 2px;
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
		border: 2px solid black;
		border-radius: 8px;
		padding: 8px;
	}

	.card .back p {
		letter-spacing: 1px;
	}

	.marca-descripcion {
		color: black;
	}

	.price {
		color: green;
		font-size: 25px;
	}

	.card:hover .front {
		transform: perspective(600px) rotateY(180deg);
	}

	.card:hover {
		transform: scale(1.1);
	}

	.card:hover .back {
		transform: perspective(600px) rotateY(360deg);
	}

	.card {
		position: relative;
		width: 200px;
		height: 275px;
	}

	.href-padding {
		width: 90%;
	}
}

@media (max-width: 1024px) {
	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}
}

@media (max-width: 768px) {
	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 30px;
	}
}

@media (max-width: 645px) {

	.ordenador:hover {
		width: 100vw;

	}
	.titulo-ordenador {
		margin-top: 55px;


	}

	.todasLasCards {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);

	}
}

@media (max-width: 425px) {
	.todasLasCards {
		margin: auto;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(100px, auto);
	}


}
