<%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/errors.css">

    <%- include("../partials/header") %>

        <main>
            <section class="seccion-general">
                <div class="circular-seccion">
                    <div class="texto-404">
                        <span>
                            <h1 class="text-oops">OOPS... <i class="fa-solid fa-ban"></i></h1>
                            <h1> ERROR 404 NOT-FOUND!</h1>
                        </span>
                        <span class="bottom-text">Lo que busca, no existe</span>
                    </div>
                    <div class="botton-redirect">
                        <a href="/">volver al home</a>
                    </div>
                </div>
            </section>
        </main>

        <%- include("../partials/footer") %>